<template>
    <v-flex sm12 v-if="loadData">
        <v-card>
            <v-container fluid px-5>
                <v-toolbar flat color="white" >
                    <v-toolbar-title>
                        <h3>
                            {{ $t('sidebar.about') }}
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="1000px" :lazy="true">
                        <v-btn slot="activator" color="pink lighten-1" dark class="mb-2">แก้ไข</v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">แก้ไข</span>
                            </v-card-title>

                            <v-card-text>
                                <v-layout wrap justify-center px-4>
                                    <v-flex xs2 offset-xs10>
                                        <v-select hide-details :items="[{'name':'ไทย',val : 1},{'name':'English',val : 2}]"
                                            v-model="lang" item-text="name" item-value="val"></v-select>
                                    </v-flex>
                                    <v-flex sm12>
                                        <label v-show="lang==1">ไทย</label>
                                        <label v-show="lang==2">English</label>
                                    </v-flex>
                                    <v-flex xs12 v-show="lang==1">
                                        <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config"
                                            v-model="Content.content_detail_TH"></editor-tiny>
                                    </v-flex>
                                    <v-flex xs12 v-show="lang==2">
                                        <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config"
                                            v-model="Content.content_detail_EN"></editor-tiny>
                                    </v-flex>
                                </v-layout>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">ยกเลิก</v-btn>
                                <v-btn color="blue darken-1" flat @click="save" :loading="loading">ตกลง</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
            </v-container>
            <v-divider inset></v-divider>
            <v-container fluid px-5>
                <div v-html="$i18n.locale==='th'? Content.content_detail_TH : Content.content_detail_EN"></div>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: "About",
        data() {
            return {
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = process.env.VUE_APP_ROOT_API + '/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                    height: '500px',
                },
                dialog: false,
                loading: false,
                lang: 1,
                loadData : false
            }
        },
        computed: {
            Content() {
                let store = this.$store.getters.contentByName('About');
                return store;
            }
        },
        watch : {
            Content(val){
                this.loadData = true;
            }
        },
        methods: {
            close() {
                this.loading = false;
                this.dialog = false;
            },
            save() {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        vm.loading = true;
                        axios.put('content/' + vm.Content.id, vm.Content)
                            .then((res) => {

                            })
                            .catch((res) => {

                            })
                            .then((res) => {
                                vm.close();
                                vm.$store.dispatch('getContent');
                            })
                    }
                });
            }
        },
        async beforeCreate() {
            let content = await this.$store.dispatch('getContent');
        }
    }
</script>

<style>

</style>