<template>
    <v-flex xs12>
        <v-card>
            <v-container fluid>
                <v-toolbar flat color="white" class="py-2">
                    <v-toolbar-title>
                        <h3>
                            Slide Home
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn color="pink lighten-1" dark class="mb-2" @click="OpenModal(1)">เพิ่ม Slide Home</v-btn>
                </v-toolbar>
                <draggable v-model="SliHome" class="Dragable">
                    <transition-group>
                        <div v-for="element in SliHome" :key="element.id" class="list_sli">
                            <div>
                                <v-icon>open_with</v-icon>
                            </div>
                            <div class="l_img"><img :src="path+'/Picture/BannerPicture/'+element.bh_img" v-if="element.bh_img!=null">
                                <img src="http://placehold.it/1920x700" alt="" v-else></div>
                            <div>
                                <label v-if="element.bh_link!=null">{{element.bh_link}}</label>
                                <label v-else>ไม่มีลิงค์</label>
                            </div>
                            <div>
                                <v-tooltip top open-delay="100" close-delay="100">
                                    <v-icon slot="activator" class="mr-2" @click="editItem(element,1)">edit</v-icon>
                                    <span>แก้ไข</span>
                                </v-tooltip>
                                <v-tooltip top open-delay="100" close-delay="100">
                                    <v-icon slot="activator" class="" @click="deleteItem(element.id)">delete</v-icon>
                                    <span>ลบ</span>
                                </v-tooltip>
                            </div>
                        </div>
                    </transition-group>
                </draggable>
            </v-container>
            <v-container fluid>
                <v-toolbar flat color="white" class="py-2">
                    <v-toolbar-title>
                        <h3>
                            Banner Top
                        </h3>
                    </v-toolbar-title>
                </v-toolbar>
                <draggable v-model="BannerTopPage" class="Dragable">
                    <transition-group>
                        <div v-for="element in BannerTopPage" :key="element.id" class="list_sli">
                            <div>
                                <v-icon>open_with</v-icon>
                            </div>
                            <div class="l_img"><img :src="path+'/Picture/BannerPicture/'+element.bh_img" v-if="element.bh_img!=null">
                                <img src="http://placehold.it/1920x200" alt="" v-else></div>
                            <div>
                                <label v-if="element.bh_link!=null">{{element.bh_link}}</label>
                                <label v-else>ไม่มีลิงค์</label>
                            </div>
                            <div>
                                <v-tooltip top open-delay="100" close-delay="100">
                                    <v-icon slot="activator" class="mr-2" @click="editItem(element,4)">edit</v-icon>
                                    <span>แก้ไข</span>
                                </v-tooltip>
                            </div>
                        </div>
                    </transition-group>
                </draggable>
            </v-container>
            <v-container fluid>
                <v-toolbar flat color="white" class="py-2">
                    <v-toolbar-title>
                        <h3>
                            Banner Mid
                        </h3>
                    </v-toolbar-title>
                </v-toolbar>
                <draggable v-model="BannerMidPage" class="Dragable">
                    <transition-group>
                        <div v-for="element in BannerMidPage" :key="element.id" class="list_sli">
                            <div>
                                <v-icon>open_with</v-icon>
                            </div>
                            <div class="l_img"><img :src="path+'/Picture/BannerPicture/'+element.bh_img" v-if="element.bh_img!=null">
                                <img src="http://placehold.it/1920x300" alt="" v-else></div>
                            <div>
                                <label v-if="element.bh_link!=null">{{element.bh_link}}</label>
                                <label v-else>ไม่มีลิงค์</label>
                            </div>
                            <div>
                                <v-tooltip top open-delay="100" close-delay="100">
                                    <v-icon slot="activator" class="mr-2" @click="editItem(element,2)">edit</v-icon>
                                    <span>แก้ไข</span>
                                </v-tooltip>
                            </div>
                        </div>
                    </transition-group>
                </draggable>
            </v-container>
            <v-container fluid>
                <v-toolbar flat color="white" class="py-2">
                    <v-toolbar-title>
                        <h3>
                            Recommended Banner
                        </h3>
                    </v-toolbar-title>
                </v-toolbar>
                <draggable v-model="BannerRecommend" class="Dragable">
                    <transition-group>
                        <div v-for="element in BannerRecommend" :key="element.id" class="list_sli">
                            <div>
                                <v-icon>open_with</v-icon>
                            </div>
                            <div class="l_img"><img :src="path+'/Picture/BannerPicture/'+element.bh_img" v-if="element.bh_img!=null">
                                <img src="http://placehold.it/450x300" alt="" v-else></div>
                            <div>
                                <label v-if="element.bh_link!=null">{{element.bh_link}}</label>
                                <label v-else>ไม่มีลิงค์</label>
                            </div>
                            <div>
                                <v-tooltip top open-delay="100" close-delay="100">
                                    <v-icon slot="activator" class="mr-2" @click="editItem(element,3)">edit</v-icon>
                                    <span>แก้ไข</span>
                                </v-tooltip>
                            </div>
                        </div>
                    </transition-group>
                </draggable>
            </v-container>
        </v-card>
        <v-dialog v-model="dialog" max-width="500px" :lazy="true">
            <v-card>
                <v-card-title>
                    <span class="headline">{{editedIndex==-1?'เพิ่ม':'แก้ไข'}} {{ formTitle }}</span>
                </v-card-title>

                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout wrap justify-center>
                            <v-flex xs12 sm8 class="main_img">
                                <img v-if="Item.bh_img != null && main_file==null" :src="path+'/Picture/BannerPicture/' + Item.bh_img"
                                    class="n_img" onclick="mainmodal_file.click()">
                                <img v-else :src="main_img" class="n_img" onclick="mainmodal_file.click()">
                                <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                                    v-on:change="onFileChange" ref="main_file">
                            </v-flex>
                        </v-layout>
                        <v-layout>
                            <v-flex xs12>
                                <v-text-field v-model="Item.bh_link" label="ลิงค์สำหรับแบนเนอร์"></v-text-field>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="close">ยกเลิก</v-btn>
                    <v-btn color="blue darken-1" flat @click="save" :loading="loading">ตกลง</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    import draggable from 'vuedraggable'
    export default {
        name: "PageManageHome",
        components: {
            draggable,
        },
        data() {
            return {
                main_img: '/picture/blogo.png',
                main_file: null,
                loading: false,
                dialog: false,
                desserts: [{
                        name: 'Frozen Yogurt',
                        calories: 159,
                        fat: 6.0,
                        carbs: 24,
                        protein: 4.0,
                        iron: '1%'
                    },
                    {
                        name: 'Ice cream sandwich',
                        calories: 237,
                        fat: 9.0,
                        carbs: 37,
                        protein: 4.3,
                        iron: '1%'
                    },
                ],
                path: process.env.VUE_APP_ROOT_API,
                Item: {
                    id : null,
                    bh_type: null,
                    bh_img: null,
                    bh_link: null
                },
                defaultItem: {
                    id: null,
                    bh_type: null,
                    bh_img: null,
                    bh_link: null
                },
                typeBanner: null,
                editedIndex: -1
            }
        },
        computed: {
            formTitle() {
                let title;
                if (this.typeBanner === 1) {
                    title = 'Slide Banner'
                } else if (this.typeBanner === 2) {
                    title = 'Banner Mid'
                } else if (this.typeBanner === 3) {
                    title = 'Recommended Banner'
                } else if (this.typeBanner === 4) {
                    title = 'Banner Top'
                }
                return title;
            },
            SliHome: {
                get() {
                    let store = this.$store.state.moduleBanner.bannerHome;
                    return store;
                },
                set(value) {
                    this.$store.commit('updateBannerHome', value)
                }
            },
            BannerTopPage: {
                get() {
                    let store = this.$store.state.moduleBanner.bannerTop;
                    return store;
                },
                set(value) {
                    this.$store.commit('updateBannerMid', value);
                }
            },
            BannerMidPage: {
                get() {
                    let store = this.$store.state.moduleBanner.bannerMid;
                    return store;
                },
                set(value) {
                    this.$store.commit('updateBannerMid', value);
                }
            },
            BannerRecommend: {
                get() {
                    let store = this.$store.state.moduleBanner.bannerReccomeded;
                    return store;
                },
                set(value) {
                    this.$store.commit('updateBannerReccomeded', value)
                }
            }
        },
        methods: {
            OpenModal(type) {
                this.dialog = true;
                this.typeBanner = type;
                this.Item.bh_type = type;
            },
            editItem(item, type) {
                if (type == 1) {
                    this.editedIndex = this.SliHome.indexOf(item);
                } else if (type == 2) {
                    this.editedIndex = this.BannerMidPage.indexOf(item);
                } else if (type == 3) {
                    this.editedIndex = this.BannerRecommend.indexOf(item)
                }   else if (type == 4) {
                    this.editedIndex = this.BannerTopPage.indexOf(item);
                }
                
                this.typeBanner = type;
                this.Item = Object.assign({}, item)
                this.dialog = true
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.Item = Object.assign({}, this.defaultItem)
                    this.main_img = '/picture/blogo.png',
                    this.editedIndex = -1
                    this.main_file = null;
                    this.$refs.main_file.value = '';
                }, 300)
            },
            save() {
                const vm = this;
                    if (vm.main_file == null && vm.Item.bh_img == null) {
                        vm.$swal({
                            type : 'error',
                            text : 'กรุณาใส่ภาพแบนเนอร์',
                            title : 'ล้มเหลว !'
                        })
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loading = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'Content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', vm.main_file);
                                fd.append('form', JSON.stringify(vm.Item));
                                if (vm.editedIndex > -1) { //Edit
                                    axios.post('/banner/' + vm.Item.id, fd, config)
                                        .then((res) => {
                                            vm.$swal({
                                                title: 'สำเร็จ',
                                                type: 'success',
                                                text: 'แก้ไขสำเร็จ'
                                            })
                                        })
                                        .catch((err) => {
                                            vm.$swal({
                                                title: 'ล้มเหลว',
                                                type: 'error',
                                                text: err
                                            })
                                        })
                                        .then(() => {
                                            vm.$store.dispatch('getBanner');
                                            vm.loading = false;
                                            vm.close()
                                        })
                                } else { //New
                                    axios.post('/banner', fd, config)
                                        .then((res) => {
                                            vm.$swal({
                                                title: 'สำเร็จ',
                                                type: 'success',
                                                text: 'เพิ่มสำเร็จ'
                                            })
                                        })
                                        .catch((err) => {
                                            vm.$swal({
                                                title: 'ล้มเหลว',
                                                type: 'error',
                                                text: err
                                            })
                                        })
                                        .then(() => {
                                            vm.$store.dispatch('getBanner');
                                            vm.loading = false;
                                            vm.close()
                                        })
                                }
                            }
                        });
                    }
            },
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/banner/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getBanner');
                            })
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        },
        async beforeCreate() {
            let banner = await this.$store.dispatch('getBanner');
        }
    }
</script>

<style lang="scss">
    .Dragable {
        padding: 0px 100px;
    }

    .list_sli {
        background: white;
        display: flex;
        align-items: center;
        border: 1px solid #e5e5e5;
        cursor: move;
        height: 120px;

        >* {
            display: flex;
            justify-content: center;
        }
        >div:nth-child(2),div:nth-child(3){
            width: 35%;
        }
        >div:nth-child(1),div:nth-child(4){
            width: 15%;
        }
    }

    .l_img {
        display: flex;
        align-items: center;
        height: 100%;

        >img {
            max-width: 100%;
            max-height: 100%;
        }
    }

    .main_img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
</style>