<template>
    <v-flex xs12>
        <v-card>
            <v-container fluid px-5 pb-5>
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        <h3>
                            คูปอง
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn color="pink lighten-1" dark class="mb-2" to="/NewCoupon">เพิ่มคูปอง</v-btn>
                </v-toolbar>
                <v-data-table :headers="headers" :items="Coupon" class="elevation-1 table-crud" :rows-per-page-items="[10,20,50]">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-center">{{ props.item.coupon_code }}</td>
                        <td class="text-xs-center">
                            <label v-if="props.item.coupon_type == 1">ส่วนลดสินค้า %</label>
                            <label v-else-if="props.item.coupon_type == 2">ส่วนลดสินค้า</label>
                            <label v-else-if="props.item.coupon_type == 3">ส่วนลดรถเข็น %</label>
                            <label v-else-if="props.item.coupon_type == 4">ส่วนลดรถเข็น</label>
                        </td>
                        <td class="text-xs-center">
                            <label>{{props.item.coupon_discount}}</label>&nbsp;
                            <label>{{props.item.coupon_type==1 || props.item.coupon_type==3?'%':'บาท'}}</label>
                        </td>
                        <td class="text-xs-center">{{ props.item.coupon_expirydate }}</td>
                        <td class="text-xs-center">
                            <select v-model="props.item.coupon_status" class="input-select" @change="updateItem(props.item)"
                                :disabled="props.item.disabled" :class="{timeout:props.item.disabled}">
                                <option value="0">ไม่เผยแพร่</option>
                                <option value="1">เผยแพร่</option>
                            </select>
                        </td>
                        <td class="justify-center align-center">
                            <v-tooltip top open-delay="100" close-delay="100"> 
                                <v-icon slot="activator" class="" @click="editItem(props.item.id)">edit</v-icon>
                                <span>แก้ไข</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="deleteItem(props.item.id)">delete</v-icon>
                                <span>ลบ</span>
                            </v-tooltip>
                        </td>
                    </template>
                    <template slot="no-data">
                        <v-alert outline slot="no-results" :value="true" color="error" icon="warning">
                            ไม่มีข้อมูล
                        </v-alert>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: 'Coupon',
        data() {
            return {
                headers: [{
                        text: 'คูปอง',
                        align: 'center',
                        sortable: true,
                        value: 'coupon_code'
                    },
                    {
                        text: 'รูปแบบ',
                        align: 'center',
                        sortable: true,
                        value: 'coupon_type'
                    },
                    {
                        text: 'ส่วนลด',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'วันหมดอายุ',
                        align: 'center',
                        sortable: true,
                        value: 'coupon_expirydate'
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false,
                        value: 'fs_status'
                    },
                    {
                        text: 'Actions',
                        value: 'name',
                        sortable: false,
                        width: 120
                    }
                ],
                datenow: '',
            }
        },
        mounted() {
            this.time();
        },
        computed: {
            Coupon() {
                let store = this.$store.state.modulePromotion.coupon;
                return store
            }
        },
        watch : {
            Coupon(val){
                for(let i in val){
                    let check = this.$moment(val[i].coupon_expirydate).isBefore(this.datenow);
                    if(check==true){
                        val[i].disabled = true
                    }else{
                        val[i].disabled = false
                    }
                }
            }
        },
        methods: {
            time() {
                const vm = this;
                vm.datenow = vm.$moment().format("YYYY-MM-DD");
            },
            deleteItem(id){
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('coupon/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getCoupon');
                            })
                    }
                });
            },
            editItem(id){
                this.$router.push({name:'/EditCoupon',params:{id:id}});
            },
            updateItem(item){
                let data = item
                const vm = this;
                axios.put('coupon/' + data.id, {
                        params: {
                            status: data.coupon_status
                        }
                    })
                    .then((res) => {})
                    .catch((err) => {})
                    .then(() => {
                        vm.$store.dispatch('getCoupon');
                    })
            }
        },
        async beforeCreate() {
            let coupon = await this.$store.dispatch('getCoupon');
        }
    }
</script>

<style lang="scss">
    .table-crud {
        .input-select {
            border: 1px solid green;
            height: 30px;
            border-radius: 5px;
            padding: 0px 5px;
            width: 90px;

        }

        .timeout {
            color: red;
            border: 1px solid red;
            text-decoration: line-through;
        }
    }
</style>