<template>
    <v-flex sm12>
        <v-card v-if="loading==false">
            <v-container>
                <v-layout justify-center>
                    <h3>
                        Now : {{datenow}}
                    </h3>
                </v-layout>
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        <h3>
                            Flashsale
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn color="pink lighten-1" dark class="mb-2" to="/NewFlashsale">เพิ่ม Flashsale</v-btn>
                </v-toolbar>
                <v-layout row>
                    <v-flex xs12 xl12>
                        <v-card color="light-blue lighten-1">
                            <v-layout row justify-center align-center v-if="flashsaleRun != undefined">
                                <v-flex sm4 xl3 class="fs-box">
                                    <img src="/picture/flash-sale.png" class="fs-logo">
                                    <h2 class="text-sm-center">
                                        เหลือเวลาช้อปอีก
                                    </h2>
                                    <v-layout row wrap justify-center>
                                        <strong class="text-box text-time">{{isNaN(dateFs.hh)? "00" : dateFs.hh }}</strong>
                                        <strong class="text-time">:</strong>
                                        <strong class="text-box text-time">{{isNaN(dateFs.mm)? "00" : dateFs.mm }}</strong>
                                        <strong class="text-time">:</strong>
                                        <strong class="text-box text-time">{{isNaN(dateFs.ss)? "00" : dateFs.ss }}</strong>
                                    </v-layout>
                                </v-flex>
                                <v-flex sm8 xl9 px-5>
                                    <carousel-item :items="flashsaleRun.flashsale_detail"></carousel-item>
                                </v-flex>
                            </v-layout>
                            <v-layout row justify-center align-center v-else>
                                <v-flex sm4 xl3 class="fs-box">
                                    <img src="/picture/flash-sale.png" class="fs-logo">
                                    <h2 class="text-sm-center">
                                        เหลือเวลาช้อปอีก
                                    </h2>
                                    <v-layout row wrap justify-center>
                                        <strong class="text-box text-time">00</strong>
                                        <strong class="text-time">:</strong>
                                        <strong class="text-box text-time">00</strong>
                                        <strong class="text-time">:</strong>
                                        <strong class="text-box text-time">00</strong>
                                    </v-layout>
                                </v-flex>
                                <v-flex sm8 xl9 px-5>
                                    <v-card color="light-red lighten-1">
                                        <v-card-title>
                                            <v-subheader style="color:red">
                                                -ไม่มีข้อมูล
                                            </v-subheader>
                                        </v-card-title>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-container px-5>
                <v-toolbar flat color="white" class="py-2">
                    <v-toolbar-title>
                        <h3>
                            รายการ Flashsale
                        </h3>
                    </v-toolbar-title>
                </v-toolbar>
                <v-data-table :headers="headers" :items="Flashsale" class="elevation-1 table-crud" :rows-per-page-items="[10,20,50]">
                    <template slot="items" slot-scope="props">
                        <td class="text-xs-center">{{(props.index+1)}}</td>
                        <td class="text-xs-center">{{ props.item.fs_name }}</td>
                        <td class="text-xs-center">{{ props.item.fs_dateend }}</td>
                        <td class="text-xs-center">
                            <select v-model="props.item.fs_status" class="input-select" @change="updateItem(props.index)"
                                :disabled="checkDate(props.item.fs_dateend)" :class="{timeout:checkDate(props.item.fs_dateend)}">
                                <option value="0">ไม่เผยแพร่</option>
                                <option value="1">เผยแพร่</option>
                            </select>
                        </td>
                        <td class="justify-center align-center">
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="viewItem(props.index)">info</v-icon>
                                <span>เพิ่มเติม</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="deleteItem(props.item.id)">delete</v-icon>
                                <span>ลบ</span>
                            </v-tooltip>
                        </td>
                    </template>
                    <template slot="no-data">
                        <v-alert outline slot="no-results" :value="true" color="error" icon="warning">
                            ไม่มีข้อมูล
                        </v-alert>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
        <v-dialog v-model="dialog" width="800" v-if="viewFs != null">
            <v-card>
                <v-card-title>
                    <span class="headline">{{viewFs.fs_name}}</span>
                </v-card-title>
                <v-card-text>
                    <v-data-table :headers="headers" :items="viewFs.flashsale_detail" hide-actions hide-headers class="elevation-1 table-fs-product"
                        :rows-per-page-items="[10,20,50]">
                        <template slot="items" slot-scope="props">
                            <td class="text-xs-center">
                                <img :src="path+'/Picture/MainProductPicture/'+props.item.product.p_img"
                                    v-if="props.item.product.p_img!=null">
                                <img src="/picture/blogo.png" alt="" v-else>
                            </td>
                            <td class="text-xs-center">{{ props.item.product.p_name_TH }} {{props.item.product.p_attr}}</td>
                            <td class="text-xs-center"><label class="cut-price">{{
                                    formatMoney(props.item.product.p_price) }} บาท </label></td>
                            <td class="text-xs-center">{{ formatMoney(props.item.fsd_price) }} บาท</td>
                        </template>
                        <template slot="no-data">
                            <v-alert outline slot="no-results" :value="true" color="error" icon="warning">
                                ไม่มีข้อมูล
                            </v-alert>
                        </template>
                    </v-data-table>
                </v-card-text>
                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn color="blue darken-1" flat @click="dialog=false">ปิด</v-btn>
                </v-card-actions>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    import Carousel from './../../components/Carousel.vue';
    export default {
        name: 'Flashsale',
        components: {
            'carousel-item': Carousel
        },
        data() {
            return {
                slickOptions: {
                    slidesToShow: 3,
                    slidesToScroll: 3,
                    nextArrow: '<button type="button" data-role="none" class="slick-next slick-arrow" aria-label="Next" role="button" style="display: block;">></button>',
                    prevArrow: '<button type="button" data-role="none" class="slick-prev slick-arrow" aria-label="Previous" role="button" style="display: block;"><</button>',
                },
                headers: [{
                        text: '#',
                        align: 'center',
                        sortable: false,
                    },
                    {
                        text: 'ชื่อ Flashsale',
                        align: 'center',
                        sortable: false,
                        value: 'fs_name'
                    },
                    {
                        text: 'สิ้นสุดเวลา',
                        align: 'center',
                        sortable: false,
                        value: 'fs_dateend'
                    },
                    {
                        text: 'สถานะ',
                        align: 'center',
                        sortable: false,
                        value: 'fs_status'
                    },
                    {
                        text: 'Actions',
                        value: 'name',
                        sortable: false,
                        width: 150
                    }
                ],
                dialog: false,
                viewFs: null,
                datenow: '',
                loading: true,
                dateFs: {
                    hh: "00",
                    mm: "00",
                    ss: "00"
                },
                path : process.env.VUE_APP_ROOT_API
            }
        },
        mounted() {
            this.time();
            this.$nextTick(function () {
                this.loading = false;
            })
        },
        computed: {
            Flashsale() {
                let store = this.$store.state.modulePromotion.flashsale;
                return _.orderBy(store, 'fs_dateend', 'desc');
            },
            flashsaleRun() {
                let store = this.$store.getters.flashsaleRun;
                return store;
            }
        },
        watch: {
            flashsaleRun(val) {
                this.loading = false;
            }
        },
        methods: {
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('flashsale/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getFlashsale');
                            })
                    }
                });
            },
            viewItem(index) {
                this.viewFs = this.Flashsale[index];
                this.dialog = true;
            },
            updateItem(index) {
                let data = this.Flashsale[index];
                const vm = this;
                axios.put('flashsale/' + data.id, {
                        params: {
                            status: data.fs_status
                        }
                    })
                    .then((res) => {})
                    .catch((err) => {})
                    .then(() => {
                        vm.$store.dispatch('getFlashsale');
                    })
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            checkDate(dateend) {
                let check = this.$moment(dateend).isBefore(this.datenow);
                return check;
            },
            time() {
                const vm = this;
                let data = vm.flashsaleRun;
                if (data != undefined) {
                    let a = vm.$moment(data.fs_dateend);
                    let b = vm.$moment(vm.datenow);
                    let diff = a.diff(b)
                    if (diff < 0) {
                        axios.put('flashsale/' + data.id, {
                                params: {
                                    status: 0
                                }
                            })
                            .then((res) => {})
                            .catch((err) => {})
                            .then(() => {
                                vm.$store.dispatch('getFlashsale');
                            })
                    } else {
                        let duration = vm.$moment.duration(diff);
                        let hours = parseInt(duration.asHours());
                        let minutes = parseInt(duration.asMinutes()) - (hours * 60);
                        let seconds = (parseInt(duration.asSeconds()) - (minutes * 60) - (hours * 3600));
                        vm.dateFs.hh = vm.twoDigit(hours);
                        vm.dateFs.mm = vm.twoDigit(minutes);
                        vm.dateFs.ss = vm.twoDigit(seconds);
                    }
                } else {
                    vm.dateFs.ss = "00";
                    vm.dateFs.mm = "00";
                    vm.dateFs.hh = "00";
                }
                vm.datenow = vm.$moment().format("YYYY-MM-DD HH:mm:ss");
                setTimeout(vm.time, 1000)
            },
            twoDigit(txt) {
                let text = `${txt}`;
                if (text.length < 2) {
                    return "0" + text;
                } else {
                    return text;
                }
            }
        },
        async beforeCreate() {
            this.$store.dispatch('getFlashsale');
        }
    }
</script>

<style lang="scss">
    .fs-box {
        h2 {
            font-weight: 100;
        }
    }

    .text-box {
        text-align: center;
        border: 2px solid white;
        background: white;
        min-width: 50px;
    }

    .text-time {
        color: #ec407a;
        font-size: 25px;
        padding: 5px;
        margin: 10px 0px 10px 0px;
    }

    .fs-logo {
        display: block;
        margin: 0 auto;
        max-width: 200px;
        height: auto;
    }

    .table-crud {
        .input-select {
            border: 1px solid green;
            height: 30px;
            border-radius: 5px;
            padding: 0px 5px;
            width: 90px;

        }

        .timeout {
            color: red;
            border: 1px solid red;
            text-decoration: line-through;
        }
    }

    .table-fs-product {
        td:nth-child(1) {
            width: 150px;

            img {
                padding-top: 6px;
                width: 100%;
                height: auto;
            }
        }

        td:nth-child(3),
        td:nth-child(4) {
            width: 130px;
        }

        .cut-price {
            text-decoration: line-through;
            color: red
        }
    }
</style>