<template>
    <v-flex xs12>
        <v-card>
            <v-container fluid px-5 pb-3>
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        <h3>
                            เพิ่มคูปอง
                        </h3>
                    </v-toolbar-title>
                </v-toolbar>
                <v-layout justify-center>
                    <v-flex lg12 xl8>
                        <v-card class="box-product">
                            <v-subheader>ทั่วไป</v-subheader>
                            <v-layout row wrap px-5>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        โค้ดคูปอง :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10>
                                    <v-text-field solo v-model="Item.code" @keyup="toUpper()" masks="A" label="NEWYEARCODE"
                                        v-validate="'required'" :error-messages="errors.collect('Item.code')"
                                        data-vv-name="Item.code"></v-text-field>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        รายละเอียด :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10>
                                    <v-textarea solo v-model="Item.description"></v-textarea>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        รูปแบบ :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg3 xl4>
                                    <v-select solo :items="type" item-text="name" item-value="val" v-model="Item.type" @change="typeChange()"></v-select>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        จำนวน :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg3 xl4>
                                    <v-text-field type="number" solo :label="'%'" v-model="Item.discount"
                                        v-validate="'required|max_value:99'" :error-messages="errors.collect('Item.discount')"
                                        data-vv-name="Item.discount" v-if="Item.type==1 || Item.type==3"></v-text-field>
                                    <v-text-field type="number" solo :label="'บาท'" v-model="Item.discount"
                                        v-validate="'required'" :error-messages="errors.collect('Item.discount')"
                                        data-vv-name="Item.discount" v-else></v-text-field>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        วันหมดอายุ :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10>
                                    <v-menu :close-on-content-click="false" v-model="menu1" :nudge-right="60" lazy
                                        color="grey" transition="scale-transition" offset-y full-width max-width="290px"
                                        min-width="290px">
                                        <v-text-field solo slot="activator" v-model="Item.expirydate" label="เลือกวันที่"
                                            v-validate="'required'" :error-messages="errors.collect('Item.expirydate')"
                                            data-vv-name="Item.expirydate" readonly></v-text-field>
                                        <v-date-picker color="light-blue lighten-1" v-model="Item.expirydate" @input="menu1 = false"></v-date-picker>
                                    </v-menu>
                                </v-flex>
                            </v-layout>
                            <v-divider inset></v-divider>
                            <v-subheader>เงื่อนไขคูปอง</v-subheader>
                            <v-layout row wrap px-5>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        ยอดขั้นต่ำ :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10>
                                    <v-text-field solo label="ไม่มีขั้นต่ำ" type="number" v-model="Item.minimum">
                                        <v-tooltip slot="append-outer" right>
                                            <v-icon slot="activator">help</v-icon>
                                            กำหนดขั้นต่ำของยอดซื้อทั้งหมดสำหรับการใช้คูปองนี้
                                        </v-tooltip>
                                    </v-text-field>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        ยอดสูงสุด :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10>
                                    <v-text-field solo label="ไม่มียอดสูงสุด" type="number" v-model="Item.maximum">
                                        <v-tooltip slot="append-outer" right>
                                            <v-icon slot="activator">help</v-icon>
                                            กำหนดจำนวนเงินสูงสุดที่ลดราคาของคูปองนี้
                                        </v-tooltip>
                                    </v-text-field>
                                </v-flex>
                                <v-flex lg5 offset-lg1 v-show="Item.type==1||Item.type==2">
                                    <v-checkbox v-model="Item.usageAnotherPromotion" :label="'สามารถใช้ร่วมกับโปรโมชั่นอื่นได้'"></v-checkbox>
                                </v-flex>
                                <v-flex lg5 offset-lg1 v-show="Item.type==1||Item.type==2">
                                    <v-checkbox v-model="Item.usageAnotherSale" :label="'สามารถใช้ร่วมกับสินค้าลดราคาได้'"></v-checkbox>
                                </v-flex>
                                <v-flex lg3 xl2 v-show="Item.type==1||Item.type==2">
                                    <v-subheader class="input-text">
                                        สินค้า :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10 v-show="Item.type==1||Item.type==2">
                                    <v-autocomplete solo v-model="Item.product"
                                        :items="Product" box chips color="primary" :label="'กรุณาเลือกสินค้า'"
                                        item-text="p_name_TH" item-value="id" multiple>
                                        <template slot="selection" slot-scope="data">
                                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="remove(data.item,1)">
                                                <v-avatar>
                                                    <img :src="path+'/Picture/MainProductPicture/'+data.item.p_img"
                                                        v-if="data.item.p_img!=null">
                                                    <img src="/picture/blogo.png" alt="" v-else>
                                                </v-avatar>
                                                {{ data.item.p_name_TH }}
                                            </v-chip>
                                        </template>
                                        <template slot="item" slot-scope="data">
                                            <template>
                                                <v-list-tile-avatar>
                                                    <img :src="path+'/Picture/MainProductPicture/'+data.item.p_img"
                                                        v-if="data.item.p_img!=null">
                                                    <img src="/picture/blogo.png" alt="" v-else>
                                                </v-list-tile-avatar>
                                                <v-list-tile-content>
                                                    <v-list-tile-title v-html="data.item.p_name_TH"></v-list-tile-title>
                                                    <v-list-tile-sub-title v-html="data.item.p_attr"></v-list-tile-sub-title>
                                                </v-list-tile-content>
                                            </template>
                                        </template>
                                    </v-autocomplete>
                                </v-flex>
                                <v-flex lg3 xl2 v-show="Item.type==1||Item.type==2">
                                    <v-subheader class="input-text">
                                        หมวดหมู่ :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10 v-show="Item.type==1||Item.type==2">
                                    <v-autocomplete solo v-model="Item.category"
                                        :items="Category" box chips color="primary" :label="'กรุณาเลือกหมวดหมู่'"
                                        item-text="c_name_TH" item-value="id" multiple>
                                        <template slot="selection" slot-scope="data">
                                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="remove(data.item,2)">
                                                <v-avatar>
                                                    <img :src="path+'/Picture/CategoryPicture/'+data.item.c_img"
                                                        v-if="data.item.c_img!=null">
                                                    <img src="/picture/blogo.png" alt="" v-else>
                                                </v-avatar>
                                                {{ data.item.c_name_TH }}
                                            </v-chip>
                                        </template>
                                        <template slot="item" slot-scope="data">
                                            <template>
                                                <v-list-tile-avatar>
                                                    <img :src="path+'/Picture/CategoryPicture/'+data.item.c_img"
                                                        v-if="data.item.c_img!=null">
                                                    <img src="/picture/blogo.png" alt="" v-else>
                                                </v-list-tile-avatar>
                                                <v-list-tile-content>
                                                    <v-list-tile-title v-html="data.item.c_name_TH"></v-list-tile-title>
                                                </v-list-tile-content>
                                            </template>
                                        </template>
                                    </v-autocomplete>
                                </v-flex>
                                <v-flex lg3 xl2 v-show="Item.type==1||Item.type==2">
                                    <v-subheader class="input-text">
                                        แบรนด์ :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10 v-show="Item.type==1||Item.type==2">
                                    <v-autocomplete solo v-model="Item.brand" :items="Brand" 
                                        box chips color="primary" :label="'กรุณาเลือกแบรนด์'"
                                        item-text="brand_name_EN" item-value="id" multiple>
                                        <template slot="selection" slot-scope="data">
                                            <v-chip :selected="data.selected" close class="chip--select-multi" @input="remove(data.item,3)">
                                                <v-avatar>
                                                    <img :src="path+'/Picture/BrandPicture/'+data.item.brand_img"
                                                        v-if="data.item.brand_img!=null">
                                                    <img src="/picture/blogo.png" alt="" v-else>
                                                </v-avatar>
                                                {{ data.item.brand_name_EN }}
                                            </v-chip>
                                        </template>
                                        <template slot="item" slot-scope="data">
                                            <template>
                                                <v-list-tile-avatar>
                                                    <img :src="path+'/Picture/BrandPicture/'+data.item.brand_img"
                                                        v-if="data.item.brand_img!=null">
                                                    <img src="/picture/blogo.png" alt="" v-else>
                                                </v-list-tile-avatar>
                                                <v-list-tile-content>
                                                    <v-list-tile-title v-html="data.item.brand_name_EN"></v-list-tile-title>
                                                </v-list-tile-content>
                                            </template>
                                        </template>
                                    </v-autocomplete>
                                </v-flex>
                            </v-layout>
                            <v-divider inset></v-divider>
                            <v-subheader>ลิมิตการใช้คูปอง</v-subheader>
                            <v-layout row wrap px-5>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        จำนวนคูปอง :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg3 xl4>
                                    <v-text-field solo type="number" label="ไม่กำหนดลิมิต" v-model="Item.limitCoupon">
                                        <v-tooltip slot="append-outer" right>
                                            <v-icon slot="activator">help</v-icon>
                                            กำหนดลิมิตของจำนวนคูปองทั้งหมดที่ทุกผู้ใช้งานใช้ได้
                                        </v-tooltip>
                                    </v-text-field>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        คูปองต่อผู้ใช้ :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg3 xl4>
                                    <v-text-field solo type="number" label="ไม่กำหนดลิมิต" v-model="Item.limitUser">
                                        <v-tooltip slot="append-outer" right>
                                            <v-icon slot="activator">help</v-icon>
                                            กำหนดลิมิตของจำนวนคูปองต่อผุ้ใช้งานนึงใช้ได้
                                        </v-tooltip>
                                    </v-text-field>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout row justify-end mt-4>
                    <v-btn color="pink lighten-1" dark outline @click="$router.back()">
                        ย้อนกลับ
                    </v-btn>
                    <v-btn color="light-blue lighten-1" dark outline @click="save()" :loading="loading">
                        ตกลง
                    </v-btn>
                </v-layout>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: "newCoupon",
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                loading: false,
                menu1: false,
                Item: {
                    expirydate: null,
                    code: null,
                    type: 1,
                    usageAnotherPromotion: false,
                    usageAnotherSale: false,
                    product: null,
                    category: null,
                    brand: null,
                    description: null,
                    discount: null,
                    minimum: null,
                    maximum: null,
                    limitCoupon: null,
                    limitUser: null
                },
                defaultItem: {
                    expirydate: null,
                    code: null,
                    type: 1,
                    usageAnotherPromotion: false,
                    usageAnotherSale: false,
                    product: null,
                    category: null,
                    brand: null,
                    description: null,
                    discount: null,
                    minimum: null,
                    maximum: null,
                    limitCoupon: null,
                    limitUser: null
                },
                type: [{
                        name: "ส่วนลดสินค้า %",
                        val: 1
                    },
                    {
                        name: "ส่วนลดสินค้า",
                        val: 2
                    },
                    {
                        name: "ส่วนลดรถเข็น %",
                        val: 3
                    },
                    {
                        name: "ส่วนลดรถเข็น",
                        val: 4
                    }
                ],
                path : process.env.VUE_APP_ROOT_API
            }
        },
        computed: {
            Product() {
                let store = this.$store.state.moduleProduct.product;
                return store;
            },
            Category() {
                let store = this.$store.state.moduleProduct.category;
                return store;
            },
            Brand() {
                let store = this.$store.state.moduleProduct.brand;
                return store;
            }
        },
        methods: {
            save() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loading = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'Content-type': 'multipart/form-data'
                                    }
                                }
                                if(vm.Item.maximum == ''){
                                    vm.Item.maximum = null
                                }
                                if(vm.Item.minimum == ''){
                                    vm.Item.minimum = null
                                }
                                if(vm.Item.limitCoupon == ''){
                                    vm.Item.limitCoupon = null
                                }
                                if(vm.Item.limitUser == ''){
                                    vm.Item.limitUser = null
                                }
                                fd.append('form', JSON.stringify(vm.Item));
                                axios.post('/coupon', fd, config)
                                    .then((res) => {
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.$store.dispatch('getCoupon');
                                        vm.loading = false;
                                        vm.clear()
                                    })
                            }
                        });
                    }
                });
            },
            async clear() {
                this.Item = await Object.assign({}, this.defaultItem);
                this.$validator.errors.items = await [];
            },
            remove(item, type) {
                switch (type) {
                    case 1:
                        this.Item.product.splice(this.Item.product.indexOf(item.id), 1)
                        break;
                    case 2:
                        this.Item.category.splice(this.Item.category.indexOf(item.id), 1)
                        break;
                    case 3:
                        this.Item.brand.splice(this.Item.brand.indexOf(item.id), 1)
                        break;
                    default:
                }
            },
            toUpper() {
                this.Item.code = this.Item.code.toUpperCase()
            },
            typeChange() {
                this.Item.discount = null;
            }
        },
        async beforeCreate() {
            let product = await this.$store.dispatch('getProduct');
        }
    }
</script>

<style lang="scss">
    .input-text {
        color: black !important;
    }

    .v-input__slot {
        background: white !important;
    }
</style>