<template>
    <v-flex sm12>
        <v-card>
            <v-container fluid px-5 pb-3>
                <v-toolbar flat color="white" >
                    <v-toolbar-title>
                        <h3>
                            เพิ่ม Flashsale
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                </v-toolbar>
                <v-layout justify-center>
                    <v-flex lg12 xl8>
                        <v-card class="box-product">
                            <v-subheader class="title-flasesale">ทั่วไป</v-subheader>
                            <v-layout row wrap px-5 mb-2>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        ชื่อ Flashsale :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg9 xl10>
                                    <v-text-field solo v-model="name" label="ex. FlashSaleDay10/10/2019" v-validate="'required'"
                                        :error-messages="errors.collect('name')" data-vv-name="name"></v-text-field>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        วันสิ้นสุด :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg3 xl4>
                                    <v-menu :close-on-content-click="false" v-model="menu1" :nudge-right="60" lazy
                                        color="grey" transition="scale-transition" offset-y full-width max-width="290px"
                                        min-width="290px">
                                        <v-text-field solo slot="activator" v-model="date" label="เลือกวันที่"
                                            v-validate="'required'" :error-messages="errors.collect('date')"
                                            data-vv-name="date" readonly></v-text-field>
                                        <v-date-picker color="light-blue lighten-1" v-model="date" @input="menu1 = false"></v-date-picker>
                                    </v-menu>
                                </v-flex>
                                <v-flex lg3 xl2>
                                    <v-subheader class="input-text">
                                        เวลาสิ้นสุด :
                                    </v-subheader>
                                </v-flex>
                                <v-flex lg3 xl4>
                                    <v-text-field solo mask="time" label="hh:mm" v-model="time" v-validate="'required|max_value:2359'"
                                        :error-messages="errors.collect('time')" data-vv-name="time"></v-text-field>
                                </v-flex>
                            </v-layout>
                            <v-divider inset></v-divider>
                            <v-layout row wrap>
                                <v-flex xs12>
                                    <v-layout my-4 mr-2>
                                        <v-subheader class="title-flasesale">สินค้า Flashsale</v-subheader>
                                        <v-spacer></v-spacer>
                                        <v-btn color="pink lighten-1" dark class="mb-2" @click="dialog=true">เพิ่มสินค้า</v-btn>
                                    </v-layout>
                                </v-flex>
                                <v-flex xs12 px-5 mb-4>
                                    <v-data-table hide-actions hide-headers :items="product_selected" class="elevation-1 table-crud"
                                        :rows-per-page-items="[10,20,50]">
                                        <template slot="items" slot-scope="props">
                                            <td class="td-img">
                                                <img :src="path+'/Picture/MainProductPicture/'+props.item.p_img" v-if="props.item.p_img!=null">
                                                <img src="/picture/blogo.png" alt="" v-else>
                                            </td>
                                            <td class="text-xs-center">
                                                <v-tooltip top open-delay="100" close-delay="100">
                                                    <p slot="activator">{{props.item.p_name_TH.substr(0,40)}}
                                                        {{props.item.p_attr}}</p>
                                                    <span>{{props.item.p_name_TH}} {{props.item.p_attr}}</span>
                                                </v-tooltip>
                                            </td>
                                            <td class="text-xs-center">
                                                <p>{{formatMoney(props.item.p_price)}} บาท</p>
                                            </td>
                                            <td class="text-xs-center">
                                                <input type="number" placeholder="ราคาที่ลดแล้ว" v-model="props.item.discount" v-validate="'required|numeric'" 
                                                :data-vv-name="`input${props.index}`" > บาท
                                                <span v-show="errors.has(`input${props.index}`)" class="help-fs is-danger">The discount is required</span>
                                            </td>
                                            <td class="justify-center align-center">
                                                <v-icon @click="deleteItem(props.index)">
                                                    delete
                                                </v-icon>
                                            </td>
                                        </template>
                                        <template slot="no-data">
                                            <v-alert outline slot="no-results" :value="true" color="error" icon="warning">
                                                ไม่มีข้อมูล
                                            </v-alert>
                                        </template>
                                    </v-data-table>
                                </v-flex>
                            </v-layout>
                        </v-card>
                    </v-flex>
                </v-layout>
                <v-layout row justify-end mt-4>
                    <v-btn color="pink lighten-1" dark outline @click="$router.back()">
                        ย้อนกลับ
                    </v-btn>
                    <v-btn color="light-blue lighten-1" dark outline @click="save()" :loading="loading">
                        ตกลง
                    </v-btn>
                </v-layout>
            </v-container>
        </v-card>
        <v-dialog v-model="dialog" width="800">
            <v-card>
                <v-card-title>
                    <span class="headline">เลือกสินค้า</span>
                    <v-spacer></v-spacer>
                    <v-btn fab small @click="dialog=false" color="grey lighten-1" dark outline>X</v-btn>
                </v-card-title>
                <v-card-text>
                    <v-container grid-list-md>
                        <v-layout row>
                            <v-flex xs2>
                                <v-subheader>Filter : </v-subheader>
                            </v-flex>
                            <v-flex xs6>
                                <v-text-field solo label="คัดกรองโดยชื่อสินค้าหรือรหัสสินค้า" v-model="srcProduct"></v-text-field>
                            </v-flex>
                            <v-flex xs4>
                                <v-layout justify-end align-center>
                                    <v-subheader>
                                        selected : {{product_selected.length}}
                                    </v-subheader>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                        <v-layout row wrap class="modal-product-all">
                            <v-flex xs4 v-for="(item,index) in ProducFilter" :key="index">
                                <v-layout mb-3 justify-center>
                                    <a @click="selectProduct(item.id)">
                                        <v-card class="card-product" :class="{selectProduct:product_selected.includes(item)}">
                                            <figure class="modal-img align-center">
                                                <img :src="path+'/Picture/MainProductPicture/'+item.p_img" alt="" v-if="item.p_img != null">
                                                <img src="picture/blogo.png" alt="" v-else>
                                            </figure>
                                            <div class="modal-text-title">
                                                <v-tooltip top open-delay="100" close-delay="100">
                                                    <p slot="activator">{{item.p_name_TH.substr(0,40)}}
                                                        {{item.p_attr}}</p>
                                                    <span>{{item.p_name_TH}} {{item.p_attr}}</span>
                                                </v-tooltip>
                                            </div>
                                            <div class="modal-text-bp">
                                                <small v-if="item.brand.brand_name_TH != null || item.brand.brand_name_TH != undefined">{{item.brand.brand_name_EN}}</small>
                                                <small v-else>ไม่มีแบรนด์</small>
                                                <p>{{formatMoney(item.p_price)}} บาท</p>
                                            </div>
                                        </v-card>
                                    </a>
                                </v-layout>
                            </v-flex>
                        </v-layout>
                    </v-container>
                </v-card-text>
            </v-card>
        </v-dialog>
    </v-flex>
</template>

<script>
    export default {
        name: "NewFlashsale",
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                dialog: false,
                srcProduct: '',
                loading: false,
                product_selected: [],
                date: null,
                time: null,
                name: null,
                menu1: false,
                menu2: false,
                path: process.env.VUE_APP_ROOT_API
            }
        },
        computed: {
            ProducFilter() {
                return this.allProduct.filter(q => {
                    let alltext = q.p_name_TH + q.p_name_EN + q.p_code;
                    return alltext.toLowerCase().includes(this.srcProduct.toLowerCase())
                })
            },
            allProduct() {
                let store = this.$store.state.moduleProduct.product;
                let obj = [];
                for (let i in store) {
                    obj.push(_.assign(store[i], {
                        discount: null
                    }));
                }
                return obj;
            }
        },
        methods: {
            selectProduct(id) {
                let thisproduct = this.allProduct.find((q) => q.id == id);
                if (this.product_selected.includes(thisproduct) == true) {
                    let index = _.findIndex(this.product_selected, thisproduct);
                    this.product_selected.splice(index, 1);
                } else {
                    this.product_selected.push(this.allProduct.find((q) => q.id == id));
                }
            },
            deleteItem(index) {
                this.product_selected.splice(index, 1);
            },
            save() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        if (vm.product_selected.length <= 0) {
                            vm.$swal({
                                type: 'error',
                                text: 'กรุณาเพิ่มสินค้า',
                                title: 'ล้มเหลว !'
                            })
                        } else {
                            let check = vm.product_selected.filter((q) => q.discount == null);
                            if (check.length > 0) {
                                vm.$swal({
                                    type: 'error',
                                    text: 'กรุณาใส่ราคาสินค้า',
                                    title: 'ล้มเหลว !'
                                })
                            } else {
                                vm.$swal({
                                    title: 'กรุณายืนยัน?',
                                    text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                                    type: 'warning',
                                    showCancelButton: true,
                                    confirmButtonColor: '#3085d6',
                                    cancelButtonColor: '#d33',
                                    confirmButtonText: 'ตกลง',
                                    cancelButtonText: 'ยกเลิก'
                                }).then((result) => {
                                    if (result.value) {
                                        vm.loading = true;
                                        let fd = new FormData();
                                        const config = {
                                            headers: {
                                                'Content-type': 'multipart/form-data'
                                            }
                                        }
                                        fd.append('date', vm.date);
                                        fd.append('time', vm.time);
                                        fd.append('name', vm.name);
                                        fd.append('product', JSON.stringify(vm.product_selected));
                                        axios.post('/flashsale', fd, config)
                                            .then((res) => {
                                                vm.$swal({
                                                    title: 'สำเร็จ',
                                                    type: 'success',
                                                    text: 'เพิ่มสำเร็จ'
                                                })
                                            })
                                            .catch((err) => {
                                                vm.$swal({
                                                    title: 'ล้มเหลว',
                                                    type: 'error',
                                                    text: err
                                                })
                                            })
                                            .then(() => {
                                                vm.$store.dispatch('getFlashsale');
                                                vm.clear();
                                                vm.$router.back();
                                            })
                                    }
                                });
                            }
                        }
                    }
                });
            },
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            async clear() {
                this.product_selected = await [];
                this.date = await null;
                this.time = await null;
                this.name = await null;
                this.loading = await false;
                this.$validator.errors.items = await [];
            }
        },
        async beforeCreate() {
            let product = this.$store.dispatch('getProduct');
        },
        mounted(){
            console.log(window)
        }
    }
</script>

<style lang="scss">
    .title-flasesale {
        font-size: 16px !important;
    }

    .input-text {
        color: black !important;
    }

    .modal-product-all {
        height: 55vh;
        overflow: auto;
        padding: 20px;
    }

    .card-product {
        box-shadow: rgba(0, 0, 0, 0.117647) 0px 1px 6px, rgba(0, 0, 0, 0.117647) 0px 1px 4px !important;
        transition: .15s all ease-in-out;
        border: 2px solid transparent;
        width: 210px;
        height: 230px;
        position: relative;
        &:hover {
            transform: scale(1.1);
        }

        .modal-img {
            display: flex;
            height: 150px;
            padding: 0px 5px;
            align-items: center;
            img {
                max-width: 100%;
                display: block;
                margin: 0 auto;
                height: auto;
            }
        }

        .modal-text-title {
            text-align: center;
        }
        .modal-text-bp {
            width: 100%;
            position: absolute;
            bottom: 0px;
            text-align: center;
            >p{
                margin: 0px !important;
            }

        }
    }

    .selectProduct {
        border: 2px solid #2196F3 !important;
    }

    .table-crud {
        td {
            p {
                margin: 0 auto;
            }

            input {
                border: 1px solid #f5f5f5;
                height: 30px;
                border-radius: 5px;
                padding: 0px 5px;
                width: 90px;
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            }
        }

        .td-img {
            width: 150px;

            >img {
                width: 100%;
                height: auto;
            }
        }

    }
    .help-fs{
        color: red;
        font-size: 10px;
        display: block;
    }
</style>