<template>
  <v-layout justify-center>
    <v-flex xs12 md3 pa-3>
      <v-card color="pink lighten-2" class="white--text">
        <v-card-title primary-title pa-2>

          <v-layout row align-center>
            <v-flex xs12>
              <v-btn icon dark large>
                <v-icon large>shopping_cart</v-icon>
              </v-btn>
            </v-flex>
            <v-flex sm6 md9>
              <h1 class="title-home"> Orders</h1>
            </v-flex>
          </v-layout>

        </v-card-title>
        <v-card-actions>
          <router-link to="/Order">
            <v-btn flat dark class="btn-text">Go to Order</v-btn>
          </router-link>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12 md3 pa-3>
      <v-card color="pink lighten-2" class="white--text">
        <v-card-title primary-title pa-2>

          <v-layout row align-center>
            <v-flex xs12>
              <v-btn icon dark large>
                <v-icon large>shopping_basket</v-icon>
              </v-btn>
            </v-flex>
            <v-flex sm6 md9>
              <h1 class="title-home"> Product</h1>
            </v-flex>
          </v-layout>

        </v-card-title>
        <v-card-actions>
          <router-link to="/Product/all">
            <v-btn flat dark class="btn-text">Go to Product</v-btn>
          </router-link>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12 md3 pa-3>
      <v-card color="pink lighten-2" class="white--text">
        <v-card-title primary-title pa-2>

          <v-layout row align-center>
            <v-flex xs12>
              <v-btn icon dark large>
                <v-icon large>attach_money</v-icon>
              </v-btn>
            </v-flex>
            <v-flex sm6 md9>
              <h1 class="title-home">Coupons</h1>
            </v-flex>
          </v-layout>

        </v-card-title>
        <v-card-actions>
          <router-link to="/Coupon">
            <v-btn flat dark class="btn-text">Go to Coupons</v-btn>
          </router-link>
        </v-card-actions>
      </v-card>
    </v-flex>
    <v-flex xs12 md3 pa-3>
      <v-card color="pink lighten-2" class="white--text">
        <v-card-title primary-title pa-2>

          <v-layout row align-center>
            <v-flex xs12>
              <v-btn icon dark large>
                <v-icon large>people</v-icon>
              </v-btn>
            </v-flex>
            <v-flex sm6 md9>
              <h1 class="title-home"> Mebers</h1>
            </v-flex>
          </v-layout>

        </v-card-title>
        <v-card-actions>
          <router-link to="/Member">
            <v-btn flat dark class="btn-text">Go to Member</v-btn>
          </router-link>
        </v-card-actions>
      </v-card>
    </v-flex>
  </v-layout>
</template>

<script>
  export default {
    name: 'Home',
  }
</script>

<style lang="scss">
  .title-home {
    font-size: 1.75em !important;
    color: white;
  }
  .btn-text{
    text-decoration: underline
  }
</style>