<template>
    <v-app id="login">
        <v-container fluid fill-height>
            <v-layout row fulid justify-center align-center>
                <v-flex xs12 sm8 md4 lg4>
                    <v-card class="elevation-1 pa-3">
                        <v-card-text>
                            <div class="layout column align-center">
                                <img src="/picture/blogo.png" alt="Vue Material Admin" width="300" height="240">
                            </div>
                            <v-form methods="POST">
                                <v-text-field type="email" v-validate="'required|email'" v-model="email" :error-messages="errors.collect('email')"
                                    label="E-mail" data-vv-name="email" required></v-text-field>
                                <v-text-field type="password" v-validate="'required'" v-model="pwd" :error-messages="errors.collect('pwd')"
                                    label="Password" data-vv-name="pwd" required @keyup.enter="login"></v-text-field>
                            </v-form>
                        </v-card-text>
                        <v-card-actions>
                            <v-spacer></v-spacer>
                            <v-btn dark color="light-blue lighten-1" @click="login" :loading="loading">Login</v-btn>
                        </v-card-actions>
                    </v-card>
                </v-flex>
            </v-layout>
        </v-container>
    </v-app>
</template>

<script>
    export default {
        name: "Login",
        data() {
            return {
                email: 'Administrator@goingstudio.com',
                pwd: 'adminadmin',
                error: false,
                success: false,
                loading : false
            }
        },
        $_veeValidate: {
            validator: 'new'
        },
        methods: {
            login() {
                var app = this
                app.loading = true;
                this.$auth.login({
                    params: {
                        email: app.email,
                        password: app.pwd
                    },
                    success: function (res) {
                        app.loading = false;
                    },
                    error: function () {
                        app.loading = false;
                    },
                    rememberMe: true,
                    redirect: '/Home',
                    fetchUser: true,
                });
            },
        }
    }
</script>

<style>

</style>