<template>
    <v-flex sm12>
        <v-card>
            <v-container fluid px-5 pb-5>
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        <h3>
                            แบรนด์สินค้า
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="800px" :lazy="true">
                        <v-btn slot="activator" color="pink lighten-1" dark class="mb-2">เพิ่มแบรนด์</v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap justify-center>
                                        <v-flex xs12 sm4 class="main_img">
                                            <img v-if="Item.brand_img != null && main_file==null" :src="path+'/Picture/BrandPicture/' + Item.brand_img"
                                                class="n_img" onclick="mainmodal_file.click()">
                                            <img v-else :src="main_img" class="n_img" onclick="mainmodal_file.click()">
                                            <input accept="image/*" type="file" name="main_file" id="mainmodal_file"
                                                style="display:none" v-on:change="onFileChange" ref="main_file">
                                        </v-flex>
                                        <v-flex xs2 offset-xs10>
                                            <v-select hide-details :items="[{'name':'ไทย',val : 1},{'name':'English',val : 2}]"
                                                v-model="lang" item-text="name" item-value="val"></v-select>
                                        </v-flex>
                                        <v-flex xs12 v-show="lang==1">
                                            <v-text-field v-model="Item.brand_name_TH" label="ชื่อภาษาไทย" v-validate="'required'"
                                                :error-messages="errors.collect('Item.brand_name_TH')" data-vv-name="Item.brand_name_TH"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12 v-show="lang==2">
                                            <v-text-field v-model="Item.brand_name_EN" label="ชื่อภาษาอังกฤษ"
                                                v-validate="'required'" :error-messages="errors.collect('Item.brand_name_EN')"
                                                data-vv-name="Item.brand_name_EN"></v-text-field>
                                        </v-flex>
                                        <v-flex sm12>
                                                <label v-show="lang==1">รายละเอียดภาษาไทย</label>
                                                <label v-show="lang==2">รายละเอียดภาษาอังกฤษ</label>
                                        </v-flex>
                                        <v-flex xs12 v-show="lang==1">
                                            <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k"
                                                :init="edit_config" v-model="Item.brand_detail_TH"></editor-tiny>
                                        </v-flex>
                                        <v-flex xs12 v-show="lang==2">
                                            <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k"
                                                :init="edit_config" v-model="Item.brand_detail_EN"></editor-tiny>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">ยกเลิก</v-btn>
                                <v-btn color="blue darken-1" flat @click="save" :loading="loading">ตกลง</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table :headers="headers" :items="Brand" class="elevation-1 table-crud" :rows-per-page-items="[10,20,50]">
                    <template slot="items" slot-scope="props">
                        <td>
                            <img :src="path+'/Picture/BrandPicture/'+props.item.brand_img" v-if="props.item.brand_img!=null">
                            <img src="/picture/blogo.png" alt="" v-else>
                        </td>
                        <td class="text-xs-center">{{ props.item.brand_name_TH }}</td>
                        <td class="text-xs-center">{{ props.item.brand_name_EN }}</td>
                        <td class="justify-center align-center">
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="editItem(props.item)">edit</v-icon>
                                <span>แก้ไข</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="deleteItem(props.item.id)">delete</v-icon>
                                <span>ลบ</span>
                            </v-tooltip>
                        </td>
                    </template>
                    <template slot="no-data">
                        <v-alert outline slot="no-results" :value="true" color="error" icon="warning">
                            ไม่มีข้อมูล
                        </v-alert>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: "Brand",
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            edit_config: {
                plugins: [
                    "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                    "searchreplace wordcount visualblocks visualchars code fullscreen",
                    "insertdatetime media nonbreaking save table contextmenu directionality",
                    "emoticons template paste textcolor colorpicker textpattern"
                ],
                relative_urls: false,
                file_browser_callback: function (field_name, url, type, win) {
                    var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                        'body')[0].clientWidth;
                    var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                        'body')[0].clientHeight;
                    var cmsURL = process.env.VUE_APP_ROOT_API + '/laravel-filemanager?field_name=' + field_name;
                    if (type == 'image') {
                        cmsURL = cmsURL + "&type=Images";
                    } else {
                        cmsURL = cmsURL + "&type=Files";
                    }
                    tinyMCE.activeEditor.windowManager.open({
                        file: cmsURL,
                        title: 'Filemanager',
                        width: x * 0.8,
                        height: y * 0.8,
                        resizable: "yes",
                        close_previous: "no"
                    });
                },
                toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                height: '250px',
            },
            dialog: false,
            headers: [{
                    text: '#',
                    align: 'center',
                    sortable: false,
                    value: 'c_img',
                    width: 200
                },
                {
                    text: 'ชื่อภาษาไทย',
                    align: 'center',
                    sortable: false,
                    value: 'c_name_TH'
                },
                {
                    text: 'ชื่อภาษาอังกฤษ',
                    align: 'center',
                    sortable: false,
                    value: 'c_name_EN'
                },
                {
                    text: 'Actions',
                    value: 'name',
                    sortable: false,
                    width: 120
                }
            ],
            editedIndex: -1,
            Item: {
                brand_name_TH: null,
                brand_name_EN: null,
                brand_detail_TH: '',
                brand_detail_EN: '',
                brand_img: null
            },
            defaultItem: {
                brand_name_TH: null,
                brand_name_EN: null,
                brand_detail_TH: '',
                brand_detail_EN: '',
                brand_img: null
            },
            main_img: '/picture/blogo.png',
            main_file: null,
            loading: false,
            path: process.env.VUE_APP_ROOT_API,
            lang: 1
        }),
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'เพิ่มแบรนด์' : 'แก้ไขแบรนด์'
            },
            Brand() {
                let store = this.$store.state.moduleProduct.brand;
                return store;
            }
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {
            editItem(item) {
                this.editedIndex = this.Brand.indexOf(item)
                this.Item = Object.assign({}, item)
                this.dialog = true
            },
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/brand/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getBrand');
                            })
                    }
                });
            },
            async close() {
                this.Item = await Object.assign({}, this.defaultItem)
                this.editedIndex = await -1
                this.main_img = await '/picture/blogo.png';
                this.main_file = await null;
                this.$refs.main_file.value = await '';
                let Clear = await this.$validator.errors.clear();
                this.lang = await 1
                this.dialog = await false
            },
            save() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        vm.$swal({
                            title : 'ข้อมูลไม่ครบ',
                            text : 'กรุณากรอกข้อมูลให้ครบ ตรวจเช็คการกรอกข้อมูลภาษาอังกฤษ',
                            type : 'error'
                        })
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loading = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'Content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', vm.main_file);
                                fd.append('form', JSON.stringify(vm.Item));
                                if (this.editedIndex > -1) { //Edit
                                    axios.post('/brand/' + this.Item.id, fd, config)
                                        .then((res) => {
                                            vm.$swal({
                                                title: 'สำเร็จ',
                                                type: 'success',
                                                text: 'แก้ไขสำเร็จ'
                                            })
                                        })
                                        .catch((err) => {
                                            vm.$swal({
                                                title: 'ล้มเหลว',
                                                type: 'error',
                                                text: err
                                            })
                                        })
                                        .then(() => {
                                            vm.$store.dispatch('getBrand');
                                            vm.loading = false;
                                            vm.close()
                                        })
                                } else { //New
                                    axios.post('/brand', fd, config)
                                        .then((res) => {
                                            vm.$swal({
                                                title: 'สำเร็จ',
                                                type: 'success',
                                                text: 'เพิ่มสำเร็จ'
                                            })
                                        })
                                        .catch((err) => {
                                            vm.$swal({
                                                title: 'ล้มเหลว',
                                                type: 'error',
                                                text: err
                                            })
                                        })
                                        .then(() => {
                                            vm.$store.dispatch('getBrand');
                                            vm.loading = false;
                                            vm.close()
                                        })
                                }
                            }
                        });
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style lang="scss">
    .table-crud {
        .v-table__overflow {
            border: 1px solid rgba(0, 0, 0, 0.12);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .main_img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
</style>