<template>
    <v-flex sm12>
        <v-card>
            <v-container fluid px-5 pb-5>
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        <h3>
                            หมวดหมู่สินค้า
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-dialog v-model="dialog" max-width="500px" :lazy="true">
                        <v-btn slot="activator" color="pink lighten-1" dark class="mb-2">เพิ่มหมวดหมู่</v-btn>
                        <v-card>
                            <v-card-title>
                                <span class="headline">{{ formTitle }}</span>
                            </v-card-title>

                            <v-card-text>
                                <v-container grid-list-md>
                                    <v-layout wrap justify-center>
                                        <v-flex xs12 sm8 class="main_img">
                                            <img v-if="Item.c_img != null && main_file==null" :src="path+'/Picture/CategoryPicture/' + Item.c_img"
                                                class="n_img" onclick="mainmodal_file.click()">
                                            <img v-else :src="main_img" class="n_img" onclick="mainmodal_file.click()">
                                            <input accept="image/*" type="file" name="main_file" id="mainmodal_file"
                                                style="display:none" v-on:change="onFileChange" ref="main_file">
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-text-field v-model="Item.c_name_TH" label="ชื่อภาษาไทย" v-validate="'required'"
                                                :error-messages="errors.collect('Item.c_name_TH')" data-vv-name="Item.c_name_TH"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-text-field v-model="Item.c_name_EN" label="ชื่อภาษาอังกฤษ" v-validate="'required'"
                                                :error-messages="errors.collect('Item.c_name_EN')" data-vv-name="Item.c_name_EN"></v-text-field>
                                        </v-flex>
                                        <v-flex xs12>
                                            <v-autocomplete :search-input.sync="searchInput" :debounce-search="0"
                                                v-model="Item.c_subid" label="หมวดหมู่ย่อยของ" :items="cMenu" item-text="c_name_TH"
                                                item-value="id" v-validate="'required'" :error-messages="errors.collect('Item.c_subid')"
                                                data-vv-name="Item.c_subid"></v-autocomplete>
                                        </v-flex>
                                    </v-layout>
                                </v-container>
                            </v-card-text>

                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="blue darken-1" flat @click="close">ยกเลิก</v-btn>
                                <v-btn color="blue darken-1" flat @click="save" :loading="loading">ตกลง</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-dialog>
                </v-toolbar>
                <v-data-table :headers="headers" :items="Category" class="elevation-1 table-crud" :rows-per-page-items="[10,20,50]">
                    <template slot="items" slot-scope="props">
                        <td>
                            <img :src="path+'/Picture/CategoryPicture/'+props.item.c_img" v-if="props.item.c_img!=null">
                            <img src="/picture/blogo.png" alt="" v-else>
                        </td>
                        <td class="text-xs-center">{{ props.item.c_name_TH }}</td>
                        <td class="text-xs-center">{{ props.item.c_name_EN }}</td>
                        <td class="text-xs-center">
                            <strong v-if="props.item.c_subid==0">สินค้า</strong>
                            <strong v-else>{{Category.find((q)=>q.id==props.item.c_subid).c_name_TH}}</strong>
                        </td>
                        <td class="justify-center align-center">
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="editItem(props.item)">edit</v-icon>
                                <span>แก้ไข</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="deleteItem(props.item.id)">delete</v-icon>
                                <span>ลบ</span>
                            </v-tooltip>
                        </td>
                    </template>
                    <template slot="no-data">
                        <v-alert slot="no-results" :value="true" color="error" icon="warning">
                            ไม่มีข้อมูล
                        </v-alert>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
    </v-flex>

</template>

<script>
    export default {
        name: "Category",
        $_veeValidate: {
            validator: 'new'
        },
        data: () => ({
            dialog: false,
            headers: [{
                    text: '#',
                    align: 'center',
                    sortable: false,
                    value: 'c_img',
                    width: 200
                },
                {
                    text: 'ชื่อภาษาไทย',
                    align: 'center',
                    sortable: false,
                    value: 'c_name_TH'
                },
                {
                    text: 'ชื่อภาษาอังกฤษ',
                    align: 'center',
                    sortable: false,
                    value: 'c_name_EN'
                },
                {
                    text: 'หมวดหมู่ย่อยของ',
                    value: 'c_subid'
                },
                {
                    text: 'Actions',
                    value: 'name',
                    sortable: false,
                    width : 120
                }
            ],
            editedIndex: -1,
            Item: {
                c_name_TH: null,
                c_name_EN: null,
                c_subid: null,
                c_img: null
            },
            defaultItem: {
                c_name_TH: null,
                c_name_EN: null,
                c_subid: null,
                c_img: null
            },
            main_img: '/picture/blogo.png',
            main_file: null,
            loading: false,
            searchInput: "",
            path : process.env.VUE_APP_ROOT_API
        }),
        computed: {
            formTitle() {
                return this.editedIndex === -1 ? 'เพิ่มหมวดหมู่' : 'แก้ไขหมวดหมู่'
            },
            Category() {
                let store = this.$store.state.moduleProduct.category;
                return store;
            },
            cMenu() {
                let store = this.$store.getters.Cmenu;
                return store;
            }
        },
        watch: {
            dialog(val) {
                val || this.close()
            }
        },
        methods: {
            editItem(item) {
                this.editedIndex = this.Category.indexOf(item)
                this.Item = Object.assign({}, item)
                this.dialog = true
            },
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/category/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getCategory');
                            })
                    }
                });
            },
            close() {
                this.dialog = false
                setTimeout(() => {
                    this.Item = Object.assign({}, this.defaultItem)
                    this.editedIndex = -1
                    this.main_img = '/picture/blogo.png';
                    this.main_file = null;
                    this.$refs.main_file.value = '';
                    let Clear = this.$validator.errors.clear();
                }, 300)
            },
            save() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loading = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'Content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', vm.main_file);
                                fd.append('form', JSON.stringify(vm.Item));
                                if (this.editedIndex > -1) { //Edit
                                    axios.post('/category/' + this.Item.id, fd, config)
                                        .then((res) => {
                                            vm.$swal({
                                                title: 'สำเร็จ',
                                                type: 'success',
                                                text: 'แก้ไขสำเร็จ'
                                            })
                                        })
                                        .catch((err) => {
                                            vm.$swal({
                                                title: 'ล้มเหลว',
                                                type: 'error',
                                                text: err
                                            })
                                        })
                                        .then(() => {
                                            vm.$store.dispatch('getCategory');
                                            vm.loading = false;
                                            vm.close()
                                        })
                                } else { //New
                                    axios.post('/category', fd, config)
                                        .then((res) => {
                                            vm.$swal({
                                                title: 'สำเร็จ',
                                                type: 'success',
                                                text: 'เพิ่มสำเร็จ'
                                            })
                                        })
                                        .catch((err) => {
                                            vm.$swal({
                                                title: 'ล้มเหลว',
                                                type: 'error',
                                                text: err
                                            })
                                        })
                                        .then(() => {
                                            vm.$store.dispatch('getCategory');
                                            vm.loading = false;
                                            vm.close()
                                        })
                                }
                            }
                        });
                    }
                });
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
        }
    }
</script>

<style lang="scss">
    .table-crud {
        .v-table__overflow {
            border: 1px solid rgba(0, 0, 0, 0.12);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .main_img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
</style>