<template>
    <v-flex sm12>
        <v-card v-if="AllLoad">
            <v-container fluid class="form-background">
                <v-toolbar flat color="white">
                    <v-toolbar-title>
                        <h3>
                            แก้ไขสินค้า
                        </h3>
                    </v-toolbar-title>
                </v-toolbar>
                <v-layout row justify-end>
                    <v-flex sm3 xl2>
                        <v-select label="ภาษา" :items="[{name:'ไทย',value:1},{name:'English',value:2}]" item-text="name"
                            item-value="value" v-model="lang"></v-select>
                    </v-flex>
                </v-layout>
                <v-layout row justify-center>
                    <v-flex sm3>
                        <v-layout row justify-center>
                            <v-flex sm10 class="main_img">
                                <h4>
                                    Product Image
                                </h4>
                                <img v-if="Product.p_img != null && main_file==null" :src="path+'/Picture/MainProductPicture/' + Product.p_img"
                                    class="n_img" onclick="mainmodal_file.click()">
                                <img v-else :src="main_img" class="n_img" onclick="mainmodal_file.click()">
                                <input accept="image/*" type="file" name="main_file" id="mainmodal_file" style="display:none"
                                    v-on:change="onFileChange" ref="main_file">
                            </v-flex>
                        </v-layout>
                        <v-layout row justify-center mt-3>
                            <v-flex sm10>
                                <h4>
                                    Gallary
                                </h4>
                                <vue-dropzone :options="dropzoneOptions" :useCustomSlot="true" ref="myVueDropzone" id="dropzone"
                                    @vdropzone-removed-file="OnRemoveFile">
                                    <div class="dropzone-custom-content">
                                        <h3 class="dropzone-custom-title">Drag and drop</h3>
                                        <div class="subtitle">...or click to upload file!</div>
                                    </div>
                                </vue-dropzone>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                    <v-flex sm8 offset-sm-1>
                        <v-layout row wrap pa-2 class="input-form">
                            <v-flex sm12>
                                <v-text-field outline label="ชื่อสินค้า" v-show="lang==1" v-model="Product.p_name_TH"
                                    v-validate="'required'" :error-messages="errors.collect('Product.p_name_TH')"
                                    data-vv-name="Product.p_name_TH">
                                </v-text-field>
                                <v-text-field outline label="Product Name" v-show="lang==2" v-model="Product.p_name_EN"
                                    v-validate="'required'" :error-messages="errors.collect('Product.p_name_EN')"
                                    data-vv-name="Product.p_name_EN"></v-text-field>
                            </v-flex>
                            <v-flex sm6 pr-2>
                                <v-autocomplete :search-input.sync="searchInput" :debounce-search="0" outline :items="Category"
                                    item-text="c_name_TH" v-model="Product.c_id" v-validate="'required'"
                                    :error-messages="errors.collect('Product.c_id')" data-vv-name="Product.c_id"
                                    item-value="id" :label="lang==1 ? 'หมวดหมู่' : 'Category' "></v-autocomplete>
                            </v-flex>
                            <v-flex sm6 pl-2>
                                <v-autocomplete :search-input.sync="searchInput2" solo :items="Brand" height="56"
                                    v-model="Product.b_id" v-validate="'required'" :error-messages="errors.collect('Product.b_id')"
                                    data-vv-name="Product.b_id" item-text="brand_name_EN" item-value="id" :label="lang==1 ? 'แบรนด์' : 'brand' ">
                                    <template slot="selection" slot-scope="data">
                                        <v-avatar class="mr-2 py-2">
                                            <img class="brand_img" :src="path+'/Picture/BrandPicture/'+data.item.brand_img"
                                                v-if="data.item.brand_img!=null">
                                            <img src="/picture/blogo.png" alt="" v-else>
                                        </v-avatar>
                                        {{ data.item.brand_name_EN }}
                                    </template>
                                    <template slot="item" slot-scope="data">
                                        <template>
                                            <v-list-tile-avatar>
                                                <img :src="path+'/Picture/BrandPicture/'+data.item.brand_img" v-if="data.item.brand_img!=null">
                                                <img src="/picture/blogo.png" alt="" v-else>
                                            </v-list-tile-avatar>
                                            <v-list-tile-content>
                                                <v-list-tile-title v-html="data.item.brand_name_EN"></v-list-tile-title>
                                            </v-list-tile-content>
                                        </template>
                                    </template>
                                </v-autocomplete>
                            </v-flex>
                            <v-flex sm12>
                                <v-subheader class="input-text-product">
                                    <label v-show="lang==1">รายละเอียด</label>
                                    <label v-show="lang==2">Detail</label>
                                </v-subheader>
                            </v-flex>
                            <v-flex sm12 mb-4 v-show="lang==1">
                                <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config"
                                    v-model="Product.p_detail_TH">
                                </editor-tiny>

                            </v-flex>
                            <v-flex sm12 mb-4 v-show="lang==2">
                                <editor-tiny api-key="0x3xyl4n2qf8yda0qi7bx3vmohm6xu77l7tmx8etgvnx6u6k" :init="edit_config"
                                    v-model="Product.p_detail_EN">
                                </editor-tiny>
                            </v-flex>
                            <v-flex sm6 pr-2>
                                <v-text-field outline label="รหัสสินค้า" v-model="Product.p_code" v-validate="'required'"
                                    :error-messages="errors.collect('Product.p_code')" data-vv-name="Product.p_code"></v-text-field>
                            </v-flex>
                            <v-flex sm6 pl-2>
                                <v-select outline label="สถานะสินค้า" :items="status" item-value="val" item-text="name"
                                    v-model="Product.p_status" v-validate="'required'" :error-messages="errors.collect('Product.p_status')"
                                    data-vv-name="Product.p_status"></v-select>
                                <v-text-field v-if="Product.p_status==4" outline label="ราคาสินค้าที่ลดแล้ว" v-model="Product.p_dis_price"
                                    v-validate="'required|numeric'" :error-messages="errors.collect('Product.p_dis_price')"
                                    data-vv-name="Product.p_dis_price" placeholder="บาท"></v-text-field>
                            </v-flex>
                            <v-flex sm4 pr-1>
                                <v-text-field outline label="รูปแบบ" v-model="Product.p_attr" v-validate="'required'"
                                    :error-messages="errors.collect('Product.p_attr')" data-vv-name="Product.p_attr"
                                    placeholder="ex. 40ml"></v-text-field>
                            </v-flex>
                            <v-flex sm4 pr-1 pl-1>
                                <v-text-field outline label="ราคา" v-model="Product.p_price" v-validate="'required|numeric'"
                                    :error-messages="errors.collect('Product.p_price')" data-vv-name="Product.p_price"
                                    placeholder="บาท"></v-text-field>
                            </v-flex>
                            <v-flex sm4 pl-1>
                                <v-text-field outline label="จำนวน" v-model="Product.p_amount" v-validate="'required|numeric'"
                                    :error-messages="errors.collect('Product.p_amount')" data-vv-name="Product.p_amount"
                                    placeholder="ชิ้น"></v-text-field>
                            </v-flex>
                            <v-flex sm12>
                                <v-text-field solo label="คำอธิบายสินค้าแบบสั้น" v-model="Product.p_description" v-validate="'required'"
                                    :error-messages="errors.collect('Product.p_description')" data-vv-name="Product.p_description"></v-text-field>
                            </v-flex>
                            <v-flex sm12>
                                <v-combobox solo label="คีย์เวิร์ดสินค้า พิมพ์ 1 คำแล้วกด Enter , Tab" v-model="Product.p_keyword" multiple chips v-validate="'required'"
                                    :error-messages="errors.collect('Product.p_keyword')" data-vv-name="Product.p_keyword"></v-combobox>
                            </v-flex>
                        </v-layout>
                    </v-flex>
                </v-layout>
                <v-layout row justify-end>
                    <v-btn color="pink lighten-1" dark outline @click="$router.back()">
                        ย้อนกลับ
                    </v-btn>
                    <v-btn color="light-blue lighten-1" dark outline @click="save()" :loading="loading">
                        ตกลง
                    </v-btn>
                </v-layout>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: "newProduct",
        $_veeValidate: {
            validator: 'new'
        },
        data() {
            return {
                dropzoneOptions: {
                    url: 'https://httpbin.org/post',
                    thumbnailWidth: 100,
                    thumbnailHeight: 100,
                    maxFilesize: 1,
                    maxFiles: 50,
                    addRemoveLinks: true,
                    headers: {
                        "My-Awesome-Header": "header value"
                    },
                    uploadMultiple: true,
                    autoProcessQueue: false,
                    init() {

                    }
                },
                edit_config: {
                    plugins: [
                        "advlist autolink lists link image charmap print preview hr anchor pagebreak",
                        "searchreplace wordcount visualblocks visualchars code fullscreen",
                        "insertdatetime media nonbreaking save table contextmenu directionality",
                        "emoticons template paste textcolor colorpicker textpattern"
                    ],
                    relative_urls: false,
                    file_browser_callback: function (field_name, url, type, win) {
                        var x = window.innerWidth || document.documentElement.clientWidth || document.getElementsByTagName(
                            'body')[0].clientWidth;
                        var y = window.innerHeight || document.documentElement.clientHeight || document.getElementsByTagName(
                            'body')[0].clientHeight;
                        var cmsURL = process.env.VUE_APP_ROOT_API+'/laravel-filemanager?field_name=' + field_name;
                        if (type == 'image') {
                            cmsURL = cmsURL + "&type=Images";
                        } else {
                            cmsURL = cmsURL + "&type=Files";
                        }
                        tinyMCE.activeEditor.windowManager.open({
                            file: cmsURL,
                            title: 'Filemanager',
                            width: x * 0.8,
                            height: y * 0.8,
                            resizable: "yes",
                            close_previous: "no"
                        });
                    },
                    toolbar: 'forecolor backcolor fontsizeselect | undo redo | styleselect | alignleft aligncenter alignright | bold italic | bullist numlist | link image',
                    fontsize_formats: '8pt 10pt 12pt 14pt 18pt 24pt 36pt',
                    height: '250px'
                },
                main_img: '/picture/blogo.png',
                main_file: null,
                lang: 1,
                loading: false,
                status: [{
                        name: 'สินค้าทั่วไป',
                        val: 1
                    },
                    {
                        name: 'สินค้ามาใหม่',
                        val: 2
                    },
                    {
                        name: 'สินค้าขายดี',
                        val: 3
                    },
                    {
                        name: 'สินค้าลดราคา',
                        val: 4
                    },
                    {
                        name: 'ยังไม่เผยเเพร่',
                        val: 0
                    },
                ],
                AllLoad: false,
                gallary: [],
                deleteIp: [],
                searchInput: "",
                searchInput2: "",
                path : process.env.VUE_APP_ROOT_API
            }
        },
        computed: {
            Product() {
                let store = this.$store.getters.ProductById(this.$route.params.id);
                return store;
            },
            Category() {
                let store = this.$store.getters.Cmenu;
                return store;
            },
            Brand() {
                let store = this.$store.state.moduleProduct.brand;
                return store;
            },
        },
        watch: {
            Product(val) {
                this.AllLoad = true;
            },
            gallary(val) {
                for (let i in val) {
                    let file = {
                        name: val[i].ip_img,
                        type: "image/png",
                        size: 123,
                        id: val[i].id
                    };
                    let url = this.path+"/Picture/SubProductPicture/" + val[i].ip_img;
                    this.$refs.myVueDropzone.manuallyAddFile(file, url);
                }
            }
        },
        methods: {
            save() {
                const vm = this;
                vm.$validator.validateAll().then(result => {
                    if (!result) {
                        window.scrollTo({
                            top: 0,
                            behavior: 'smooth'
                        });
                    } else {
                        vm.$swal({
                            title: 'กรุณายืนยัน?',
                            text: 'ตรวจสอบความถูกต้องให้ครบถ้วน',
                            type: 'warning',
                            showCancelButton: true,
                            confirmButtonColor: '#3085d6',
                            cancelButtonColor: '#d33',
                            confirmButtonText: 'ตกลง',
                            cancelButtonText: 'ยกเลิก'
                        }).then((result) => {
                            if (result.value) {
                                vm.loading = true;
                                let fd = new FormData();
                                const config = {
                                    headers: {
                                        'Content-type': 'multipart/form-data'
                                    }
                                }
                                fd.append('file', vm.main_file);
                                const gallary = vm.$refs.myVueDropzone.getQueuedFiles();
                                for (let i in gallary) {
                                    fd.append('gallary[' + i + ']', gallary[i]);
                                }
                                for (let j in this.deleteIp) {
                                    fd.append('delete[' + j + ']', this.deleteIp[j]);
                                }
                                fd.append('form', JSON.stringify(vm.Product));
                                axios.post('/product/' + vm.$route.params.id, fd, config)
                                    .then((res) => {
                                        vm.$swal({
                                            title: 'สำเร็จ',
                                            type: 'success',
                                            text: 'เพิ่มสำเร็จ'
                                        })
                                    })
                                    .catch((err) => {
                                        vm.$swal({
                                            title: 'ล้มเหลว',
                                            type: 'error',
                                            text: err
                                        })
                                    })
                                    .then(() => {
                                        vm.$store.dispatch('getProduct');
                                        vm.loading = false;
                                    })
                            }
                        });
                    }
                });
            },
            async clear() {
                this.$router.back();
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length)
                    return;
                this.createImage(files[0]);
                this.main_file = e.target.files[0];
            },
            createImage(file) {
                var vm = this;
                vm.main_img = new Image();
                var reader = new FileReader();
                reader.onload = (e) => {
                    vm.main_img = e.target.result;
                };
                reader.readAsDataURL(file);
            },
            getGallary() {
                const vm = this;
                axios.get('product/' + vm.$route.params.id).then((res) => {
                    vm.gallary = res.data;
                });
            },
            OnRemoveFile(file, error, xhr) {
                if (file.id != undefined) {
                    this.deleteIp.push(file.id);
                }
            }
        },
        beforeCreate() {
            this.$store.dispatch('getProduct');
        },
        mounted() {
            const vm = this;
            vm.$nextTick(() => {
               this.getGallary(); 
            })
        }
    }
</script>

<style lang="scss">
    .main_img {
        width: 100%;

        img {
            border: 1px solid #c3c3c3;
            width: 100%;
            height: auto;
            cursor: pointer;
            padding: 10px;
        }
    }

    .dropzone-custom-title {
        margin-top: 0;
        color: #00b782;
    }

    .subtitle {
        color: #314b5f;
    }

    .input-text-product {
        color: black !important;
        font-weight: bold;
    }

    .dz-progress {
        display: none !important;
    }

    .dz-preview {
        z-index: 0 !important;
    }

    .dz-remove {
        margin: 0 !important;
        bottom: 0px !important;
        color: black!important;
        border: 1px black solid!important;
    }

    .dz-details {
        display: none !important;
    }

    #dropzone {
        text-align: center;
    }

    .input-form {
        .v-input {
            .v-input__slot {
                border: none !important;
                box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
            }
        }
    }
</style>