<template>
    <v-flex sm12>
        <v-card>
            <v-container fluid px-5 pb-5>
                <v-toolbar flat color="white" >
                    <v-toolbar-title>
                        <h3>
                            {{categoryByID.c_name_TH}}
                        </h3>
                    </v-toolbar-title>
                    <v-spacer></v-spacer>
                    <v-btn color="pink lighten-1" dark class="mb-2" to="/NewProduct">เพิ่มสินค้า</v-btn>
                </v-toolbar>
                <v-data-table :headers="headers" :items="Product" class="elevation-1 table-crud" :rows-per-page-items="[10,20,50]">
                    <template slot="items" slot-scope="props">
                        <td>
                            <img :src="path+'/Picture/MainProductPicture/'+props.item.p_img" v-if="props.item.p_img!=null">
                            <img src="/picture/blogo.png" alt="" v-else>
                        </td>
                        <td class="text-xs-center">{{ props.item.p_code }}</td>
                        <td class="text-xs-center">{{ props.item.p_name_TH }}</td>
                        <td class="text-xs-center">
                            <label v-if="props.item.b_id != null || props.item.b_id != undefined">{{ props.item.brand.brand_name_EN }}</label>
                            <label v-else>ไม่มีแบรนด์</label>
                        </td>
                        <td class="text-xs-center">{{ props.item.p_attr }}</td>
                        <td class="text-xs-center">{{ formatMoney(props.item.p_price) }} บาท</td>
                        <td class="text-xs-center">{{ props.item.p_amount }}</td>
                        <td class="text-xs-center">
                            <label v-if="props.item.p_status == 0">ยังไม่เผยเเพร่</label>
                            <label v-else-if="props.item.p_status == 1">สินค้าทั่วไป</label>
                            <label v-else-if="props.item.p_status == 2">สินค้ามาใหม่</label>
                            <label v-else-if="props.item.p_status == 3">สินค้าขายดี</label>
                            <label v-else-if="props.item.p_status == 4">สินค้าลดราคา</label>
                        </td>
                        <td class="text-xs-center align-center">
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="viewItem(props.item.p_code)">visibility</v-icon>
                                <span>ดูสินค้า</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="copyItem(props.item.id)">file_copy</v-icon>
                                <span>คัดลอก</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="editItem(props.item.id)">edit</v-icon>
                                <span>แก้ไข</span>
                            </v-tooltip>
                            <v-tooltip top open-delay="100" close-delay="100">
                                <v-icon slot="activator" class="" @click="deleteItem(props.item.id)">delete</v-icon>
                                <span>ลบ</span>
                            </v-tooltip>
                        </td>
                    </template>
                    <template slot="no-data">
                        <v-alert slot="no-results" :value="true" color="error" icon="warning">
                            ไม่มีข้อมูล
                        </v-alert>
                    </template>
                </v-data-table>
            </v-container>
        </v-card>
    </v-flex>
</template>

<script>
    export default {
        name: "viewProduct",
        data: () => ({
            headers: [{
                    text: '#',
                    align: 'center',
                    sortable: false,
                    width: 200
                },
                {
                    text: 'รหัสสินค้า',
                    align: 'center',
                    sortable: true,
                    value: 'p_code'
                },
                {
                    text: 'ชื่อสินค้า',
                    align: 'center',
                    sortable: true,
                    value: 'p_name_TH'
                },
                {
                    text: 'แบรนด์',
                    align: 'center',
                    sortable: true,
                    value: 'b_id'
                },
                {
                    text: 'รูปแบบ',
                    align: 'center',
                    sortable: true,
                    value: 'p_name_TH'
                },
                {
                    text: 'ราคา',
                    align: 'center',
                    sortable: true,
                    value: 'p_name_TH'
                },
                {
                    text: 'จำนวน',
                    align: 'center',
                    sortable: true,
                    value: 'p_amount'
                },
                {
                    text: 'สถานะ',
                    align: 'center',
                    sortable: true,
                    value: 'p_status'
                },
                {
                    text: 'Actions',
                    value: 'name',
                    align: 'center',
                    sortable: false,
                    width: '250'
                }
            ],
            loading: false,
            path : process.env.VUE_APP_ROOT_API
        }),
        computed: {
            categoryByID() {
                let store;
                if (this.$route.params.id == "all") {
                    store = {
                        c_name_TH: "สินค้าทั้งหมด"
                    };
                } else {
                    store = this.$store.getters.categoryByID(this.$route.params.id);
                }
                return store;
            },
            Product() {
                let store;
                const id = this.$route.params.id;
                if (id == 'all') {
                    store = this.$store.state.moduleProduct.product;
                } else {
                    store = this.$store.getters.ProductByCID(id);
                }
                return store;
            },
        },
        methods: {
            formatMoney(amount, decimalCount = 2, decimal = ".", thousands = ",") {
                try {
                    decimalCount = Math.abs(decimalCount);
                    decimalCount = isNaN(decimalCount) ? 2 : decimalCount;
                    const negativeSign = amount < 0 ? "-" : "";
                    let i = parseInt(amount = Math.abs(Number(amount) || 0).toFixed(decimalCount)).toString();
                    let j = (i.length > 3) ? i.length % 3 : 0;
                    return negativeSign + (j ? i.substr(0, j) + thousands : '') + i.substr(j).replace(/(\d{3})(?=\d)/g,
                        "$1" + thousands);
                } catch (e) {}
            },
            viewItem(code) {
                window.open('https://www.bluepaca.com/products/' + code, '_blank');
            },
            editItem(id) {
                this.$router.push({
                    name: '/EditProduct',
                    params: {
                        id: id
                    }
                });
            },
            async copyItem(id) {
                const vm = this;
                const {
                    value: code
                } = await vm.$swal.fire({
                    title: 'Enter code for new product',
                    input: 'text',
                    showCancelButton: true,
                    cancelButtonColor: '#d33',
                    inputValidator: (value) => {
                        let checkProductCode = vm.$store.getters.checkProductCode(value);
                        if (checkProductCode != undefined) {
                            return 'ไม่สามารถใช้ code ซ้ำได้'
                        } else if (!value) {
                            return 'กรุณาใส่ code ของสินค้า!'
                        }
                    }
                })
                if (code) {
                    axios.put('/product/' + id,{
                        params : {
                            code : code
                        }
                    })
                        .then((res) => {
                            console.log(res);
                            vm.$swal({
                                title: 'สำเร็จ',
                                type: 'success',
                                text: 'คัดลอกสำเร็จ'
                            })
                        })
                        .catch((err) => {
                            vm.$swal({
                                title: 'ล้มเหลว',
                                type: 'error',
                                text: err
                            })
                        })
                        .then(() => {
                            vm.$store.dispatch('getProduct');
                        })
                }
            },
            deleteItem(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/product/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$store.dispatch('getProduct');
                            })
                    }
                });
            }
        },
        async beforeCreate() {
            let product = await this.$store.dispatch('getProduct');
        },
        mounted(){
            console.log(process.env.VUE_APP_ROOT_API)
        }
    }
</script>

<style lang="scss">
    .table-crud {
        .v-table__overflow {
            border: 1px solid rgba(0, 0, 0, 0.12);
        }

        img {
            width: 100%;
            height: auto;
        }
    }

    .main_img {
        width: 100%;

        img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }
    }
</style>