<template>
    <v-flex xs12>
        <v-card class="ms-box">
            <v-toolbar color="grey lighten-3">
                <v-toolbar-side-icon></v-toolbar-side-icon>

                <v-toolbar-title>{{InboxbyID.mb_subject}}</v-toolbar-title>

                <v-spacer></v-spacer>

                <v-btn icon @click="delMail(InboxbyID.id)">
                    <v-icon>delete</v-icon>
                </v-btn>
            </v-toolbar>

            <v-card-title primary-title>
                <div>
                    <span class="grey--text">from {{InboxbyID.mb_name}} {{ addE(InboxbyID.mb_email) }} </span>
                </div>
            </v-card-title>
            <v-card-text class="text-sm-center">
                {{InboxbyID.mb_message}}
            </v-card-text>
        </v-card>
            <v-layout justify-end mt-3>
                <v-btn color="primary" small ripple @click="reply()">REPLY</v-btn>
                <v-btn color="red lighten-1" small dark @click="$router.back()" ripple>back</v-btn>
            </v-layout>
            <v-layout class="input mt-1">
                <v-textarea solo label="ตอบกลับ" v-model="reply_message"></v-textarea>
            </v-layout>
    </v-flex>
</template>

<script>
    export default {
        data() {
            return {
                reply_message: ''
            }
        },
        computed: {
            InboxbyID() {
                return this.$store.getters.InboxbyID(this.$route.params.id);
            }
        },
        methods: {
            refresh() {
                this.$store.dispatch('getInbox');
            },
            Gotomail(id) {
                this.$router.push({
                    name: '/Inbox',
                    params: {
                        id: id
                    }
                });
            },
            addE(text) {
                return "<"+text+">"
            },
            delMail(id) {
                const vm = this;
                vm.$swal({
                    title: 'กรุณายืนยัน?',
                    text: 'ลบแล้วไม่สามารถกู้คืนกลับได้',
                    type: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'ตกลง',
                    cancelButtonText: 'ยกเลิก'
                }).then((result) => {
                    if (result.value) {
                        axios.delete('/mailboxs/' + id)
                            .then((res) => {
                                vm.$swal({
                                    title: 'สำเร็จ',
                                    type: 'success',
                                    text: 'ลบสำเร็จ'
                                })
                            })
                            .catch((err) => {
                                vm.$swal({
                                    title: 'ล้มเหลว',
                                    type: 'error',
                                    text: err
                                })
                            })
                            .then(() => {
                                vm.$router.back();
                            })
                    }
                });
            },
            reply() {
                const id = this.InboxbyID.id;
                axios.put('mailboxs/' + id,{ message: this.reply_message })
                    .then((res) => {

                    })
                    .catch((err) => {

                    })
                    .then(() => {
                        this.reply_message = ''
                        this.$swal({
                            type: 'success',
                            title: 'สำเร็จ !',
                            text: 'ส่งข้อความสำเร็จ'
                        })
                    })
            }
        },
        async beforeCreate() {
            await this.$store.dispatch('getInbox');
        }
    }
</script>

<style>
    .ms-box{
        height: auto;
        min-height: 450px;
    }
</style>