<template>
  <v-toolbar color="light-blue lighten-1" dark app :clipped-left="$vuetify.breakpoint.mdAndUp" fixed>
    <v-toolbar-title style="width: 300px" class="ml-0 pl-3">
      <v-toolbar-side-icon @click="$emit('drawerToggle')"></v-toolbar-side-icon>
      <span class="hidden-sm-and-down">Bluepaca</span>
    </v-toolbar-title>
    <v-spacer></v-spacer>
    <v-btn icon>
      <v-icon>notifications</v-icon>
    </v-btn>
    <v-toolbar-items class="hidden-sm-and-down">
      <v-menu offset-y origin="center center" :nudge-bottom="3" transition="scale-transition">
        <v-btn flat large slot="activator">
          <v-icon>face</v-icon>&nbsp;{{$auth.user().name}}
        </v-btn>
        <v-list class="pa-0">
          <v-list-tile @click="inbox()">
            <v-list-tile-action>
              <v-icon>mail</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>inbox</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="$auth.logout()">
            <v-list-tile-action>
              <v-icon>meeting_room</v-icon>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>logout</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
      <v-menu offset-y origin="center" :nudge-bottom="3" :nudge-left="48" transition="scale-transition">
        <v-btn flat slot="activator">
          <div style="font-size:28px">
            <flag iso="gb" v-if="$i18n.locale === 'en'" />
            <flag iso="th" v-else-if="$i18n.locale === 'th'" />
          </div>
        </v-btn>
        <v-list class="pa-0">
          <v-list-tile @click="switchLocale('th')">
            <v-list-tile-action style="font-size:22px">
               <flag iso="th"/>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>Thai</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list-tile @click="switchLocale('en')">
            <v-list-tile-action style="font-size:22px">
               <flag iso="gb"/>
            </v-list-tile-action>
            <v-list-tile-content>
              <v-list-tile-title>English</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
        </v-list>
      </v-menu>
    </v-toolbar-items>
  </v-toolbar>
</template>

<script>
  /* eslint-disable */
  export default {
    name: "NavBar",
    mounted() {},
    computed: {},
    methods: {
      logout() {

      },
      inbox() {
        this.$router.push('/Inbox')
      },
      switchLocale(lang) {
        this.$i18n.locale = lang
      }
    },
  }
</script>
<style>
</style>