<template>
    <v-navigation-drawer fixed :clipped="$vuetify.breakpoint.mdAndUp" app v-model="ToggleVar">
        <v-list dense>
            <v-list-tile ripple to="/Home">
                <v-list-tile-action>
                    <v-icon>dashboard</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>
                        {{ $t('sidebar.home') }}
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-group prepend-icon="build" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>{{ $t('sidebar.page') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile to="/PageManage/Home" ripple>
                    <v-list-tile-title>{{ $t('sidebar.first') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile to="/PageManage/About" ripple>
                    <v-list-tile-title>{{ $t('sidebar.about') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-group sub-group no-action>
                    <v-list-tile slot="activator">
                        <v-list-tile-title>{{ $t('sidebar.service') }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="{name : '/PageManage/Service' , params:{content : 'TermService'}}" ripple style="padding-left:15px;">
                        <v-list-tile-title>{{ $t('sidebar.termservice') }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="{name : '/PageManage/Service' , params:{content : 'Policy'}}" ripple style="padding-left:15px;">
                        <v-list-tile-title>{{ $t('sidebar.policy') }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="{name : '/PageManage/Service' , params:{content : 'Howtobuy'}}" ripple style="padding-left:15px;">
                        <v-list-tile-title>{{ $t('sidebar.howtobuy') }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="{name : '/PageManage/Service' , params:{content : 'Howtopay'}}" ripple style="padding-left:15px;">
                        <v-list-tile-title>{{ $t('sidebar.howtopay') }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="{name : '/PageManage/Service' , params:{content : 'Delivery'}}" ripple style="padding-left:15px;">
                        <v-list-tile-title>{{ $t('sidebar.delivery') }}</v-list-tile-title>
                    </v-list-tile>
                    <v-list-tile :to="{name : '/PageManage/Service' , params:{content : 'Faq'}}" ripple style="padding-left:15px;">
                        <v-list-tile-title>{{ $t('sidebar.faq') }}</v-list-tile-title>
                    </v-list-tile>
                </v-list-group>
            </v-list-group>
            <v-list-tile to="/News">
                <v-list-tile-action>
                    <v-icon>drafts</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>
                        {{ $t('sidebar.news') }}
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
            <v-list-group prepend-icon="shopping_basket" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>{{ $t('sidebar.shop') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-group sub-group ripple no-action>
                    <!--ul-->
                    <v-list-tile slot="activator" :to="{name:'/Product', params:{id:'all'}}">
                        <v-list-tile-title>{{ $t('sidebar.product') }}</v-list-tile-title>
                    </v-list-tile>
                    <cat-menu v-for="(cat,i) in getCategory" :key="i" :data="cat" :pad="15"></cat-menu>
                </v-list-group>
                <v-list-tile ripple to="/Category">
                    <v-list-tile-title>{{ $t('sidebar.category') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile ripple to="/Brand">
                    <v-list-tile-title>{{ $t('sidebar.brand') }}</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-tile ripple to="/Order">
                <v-list-tile-action>
                    <v-icon>shopping_cart</v-icon>
                </v-list-tile-action>
                <v-list-tile-title>
                    {{ $t('sidebar.order') }}
                </v-list-tile-title>
            </v-list-tile>
            <v-list-group prepend-icon="money_off" no-action>
                <v-list-tile slot="activator">
                    <v-list-tile-title>{{ $t('sidebar.discount') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile to="/Promotion" ripple>
                    <v-list-tile-title>{{ $t('sidebar.promotion') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile to="/Coupon" ripple>
                    <v-list-tile-title>{{ $t('sidebar.coupon') }}</v-list-tile-title>
                </v-list-tile>
                <v-list-tile to="/Flashsale" ripple>
                    <v-list-tile-title>Flashsale</v-list-tile-title>
                </v-list-tile>
            </v-list-group>
            <v-list-tile href="/Client">
                <v-list-tile-action>
                    <v-icon>phonelink</v-icon>
                </v-list-tile-action>
                <v-list-tile-content>
                    <v-list-tile-title>
                        {{ $t('sidebar.gotoweb') }}
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-navigation-drawer>
</template>

<script>
    import CatMenu from "./../components/CatMenu.vue"
    export default {
        props: {
            'drawer': Boolean
        },
        data: () => ({
            ToggleVar: null,
        }),
        components: {
            'cat-menu': CatMenu
        },
        computed: {
            getCategory() {
                let store = this.$store.getters.category_parent;
                return store;
            }
        },
        methods: {

        },
        watch: {
            drawer(val) {
                this.ToggleVar = val
            }
        }
    }
</script>

<style lang="scss">
    .v-list__tile__title {
        font-size: 15px;
    }
</style>