<template>
  <div id="app">
    <template v-if="$auth.check()">
      <v-app id="inspire">

        <!-- Sidebar -->
        <SideBar :drawer="drawer"></SideBar>

        <!-- nav bar -->
        <NavBar @drawerToggle="ToggleSideBar"></NavBar>

        <!-- Content -->

        <v-content>
          <v-container fluid fill-height>
            <v-layout justify-center>
              <!--router view-->
              <router-view></router-view>
            </v-layout>
          </v-container>
        </v-content>
      </v-app>
    </template>
    <template v-else>
      <transition>
        <keep-alive>
          <router-view></router-view>
        </keep-alive>
      </transition>
    </template>
  </div>
</template>

<script>
  import NavBar from './components/NavBar'
  import SideBar from './components/SideBar'
  export default {
    name: 'App',
    components: {
      NavBar,
      SideBar
    },
    data() {
      return {
        drawer: true
      }
    },
    methods: {
      ToggleSideBar(value) {
        this.drawer = !this.drawer;
      }
    },
    props: {
      source: String
    },
    async beforeCreate(){
      let brand = await this.$store.dispatch('getBrand');
      let category = await this.$store.dispatch('getCategory');
    }
  }
</script>
<style>
  
</style>
